<h1 class="text-b1 font-semibold mb-10">Create an Organization</h1>

<!-- Progress -->
<%= render "onboarding/progress", current_step: 1 %>

<h2 class="text-h4 mb-10">Name your Organization</h2>

<p class="mb-10">
  Choose a name for your Organization.
  <br>
  This name will be used as the URL for your Organization's page and will eventually become its namespace.
</p>

<%= form_with(model: @organization_onboarding, url: onboarding_name_path, method: :post, data: { controller: "onboarding-name" }) do |form| %>
  <h3 class="text-b2 font-semibold mb-2">Name your org using:</h3>

  <div class="flex w-full space-x-4 mb-10" data-controller="scroll">
    <label class="flex-1 border-2 rounded-lg p-4 text-center has-[:checked]:border-orange-500 peer-checked:bg-white">
      <%= form.radio_button(:name_type, "gem", class: "hidden peer", data: { onboarding_name_target: "radio", action: "onboarding-name#gemname scroll#scroll" }, required: true) %>
      <div class="text-neutral-800 peer-checked:text-orange-500">
        <%= icon_tag "gems", size: 10, class: "mx-auto mb-2" %>
      </div>
      <span class="peer-checked:font-semibold">a gem you own</span>
    </label>

    <label class="flex-1 border-2 rounded-lg p-4 text-center has-[:checked]:border-orange-500 peer-checked:bg-white">
      <%= form.radio_button(:name_type, "user", class: "hidden peer", data: { onboarding_name_target: "radio", action: "onboarding-name#username scroll#scroll" }, required: true) %>
      <div class="text-neutral-800 peer-checked:text-orange-500">
        <%= icon_tag "account-box", size: 10, class: "mx-auto mb-2" %>
      </div>
      <span class="peer-checked:font-semibold">your username</span>
    </label>
  </div>

  <div class="hidden mb-10" data-onboarding-name-target="gemname">
    <p class="mb-2">
      Select one of your gems to use as your Organization handle.
      <br>
      Changing this later may require help from RubyGems.org support.
    </p>
    <label class="flex overflow-hidden items-center">
      <span class="flex px-4 text-neutral-700 rounded-l-lg border-t border-l border-b rounded-lg-l box-border h-11 items-center bg-neutral-050">rubygems.org/organizations/</span>
      <%= form.select(
        :organization_handle,
        @organization_onboarding.available_rubygems.pluck(:name),
        { prompt: "select..." },
        {
          required: true,
          class: "parent:flex-1 flex-1 h-full px-2 bg-white rounded-r-lg outline-none appearance-none",
          data: { action: "onboarding-name#updateDisplayname" }
        }
      ) %>
    </label>
  </div>

  <div class="hidden mb-10" data-onboarding-name-target="username">
    <p class="mb-2">
      Your username will be used for your Organization handle.
      <br>
      Changing this later may require help from RubyGems.org support.
    </p>
    <label class="flex overflow-hidden items-center">
      <span class="flex px-4 text-neutral-700 rounded-l-lg border-t border-l border-b rounded-lg-l box-border h-11 items-center bg-neutral-050">rubygems.org/organizations/</span>
      <%= text_field_tag(
        :disabled_username,
        current_user.name,
        disabled: true,
        class: "flex-1 h-full px-2 bg-white rounded-r-lg outline-none appearance-none placeholder:italic placeholder:text-neutral-400",
      ) %>
    </label>
  </div>

  <div class="hidden mb-10" data-onboarding-name-target="reveal">
    <%= form.label :organization_name, "Display Name", class: "block text-b2 font-semibold mb-2" %>
    <p class="mb-2">We suggest a name based on your selection. You can update this at any time.<p>
    <%= form.text_field(
      :organization_name,
      placeholder: "Select a gem name first",
      class: "w-full rounded",
      required: true,
      autocomplete: "organization",
      data: { onboarding_name_target: "displayname", action: "onboarding-name#validate" },
    ) %>

    <div class="flex border-t border-neutral-400 pt-10 my-10 justify-between">
      <%= render ButtonComponent.new("Cancel", onboarding_path, type: :link, color: :neutral, outline: true, method: :delete) %>
      <%= render ButtonComponent.new("Continue", type: :submit, outline: true, data: { onboarding_name_target: "submit" }) %>
    </div>
  </div>

<% end %>
