<% heading = "text-sm text-neutral-600 dark:text-neutral-400 uppercase tracking-wide" %>
<dl class="space-y-4">
  <div>
    <dt class="<%= heading %>"><%= statement.class.human_attribute_name(:effect) %></dt>
    <dd class="mt-1"><code><%= statement.effect %></code></dd>
  </div>
  <div>
    <dt class="<%= heading %>"><%= statement.class.human_attribute_name(:principal) %></dt>
    <dd class="mt-1">
      <%= link_to statement.principal.oidc, statement.principal.oidc,
        class: "text-orange-500 hover:underline dark:text-orange-400" %>
    </dd>
  </div>
  <div>
    <dt class="<%= heading %>"><%= statement.class.human_attribute_name(:conditions) %></dt>
    <dd class="mt-1">
      <ul class="-mx-4 divide-y divide-neutral-200 dark:divide-neutral-800 border-y border-neutral-200 dark:border-neutral-800">
        <% statement.conditions.each do |condition| %>
          <li class="px-4 py-3">
            <%= render condition %>
          </li>
        <% end %>
      </ul>
    </dd>
  </div>
</dl>
