<li class="<%= "small" unless graph %>">
  <a href="<%= rubygem_path(rubygem) %>" class="gems__gem">
    <span class="gems__gem__info">
      <p class="gems__gem__name">
        <%= rubygem.name %>
        <span class="gems__gem__version"><%= rubygem.versions.most_recent %></span>
      </p>
    </span>
    <p class="gems__gem__downloads__count">
      <%= number_with_delimiter(rubygem.downloads) %>
      <span class="gems__gem__downloads__heading">Downloads</span>
    </p>
    <% if graph %>
      <div id="graph-<%= rubygem.id %>" class="profile-graph">
      </div>
    <% end %>
  </a>
</li>
