<li>
  <div>
    <span>
      <a href="<%= rubygem_path(rubygem.slug) %>">
        <%= rubygem.name %>
        <span><%= rubygem.latest_version %></span>
      </a>
    </span>
    <p>
      <%= number_with_delimiter(rubygem.downloads) %>
      <span>Downloads</span>
    </p>
    <% if local_assigns[:owners] %>
      <div>
        <h3><%= t '.owners_header'%>:</h3>
        <div>
          <%= links_to_owners(rubygem) %>
        </div>
      </div>
    <% end %>
  </div>
</li>
