<li class="<%= "small" unless graph %>">
  <a href="<%= rubygem_path(rubygem) %>" class="profile-rubygem">
    <%= rubygem.name %>
    <em><%= rubygem.versions.most_recent %></em>
  </a>
  <a href="<%= rubygem_stats_path(rubygem) %>" class="profile-downloads">
    <div><%= t('download_count', :count => content_tag(:span, number_with_delimiter(rubygem.downloads))).html_safe %></div>
    <div><%= t('stats.show.daily_downloads', :count => content_tag(:span, number_with_delimiter(rubygem.downloads_today))).html_safe %></div>
  </a>
  <% if graph %>
    <div id="graph-<%= rubygem.id %>" class="profile-graph">
    </div>
  <% end %>
</li>
