<% @title = t('.title') %>

<%= form_for current_user, :url => {:controller => 'profiles', :action => 'update'} do |form| %>
  <div class="language_field" style="margin-bottom:30px;">
    <%= form.label :language, t('.language_settings.title') %>
    <p style="margin-bottom:10px;"><%= t('.language_settings.text') %></p>
    <%= form.select :language, {
      en: t('.language_settings.english') + t('.language_settings.default'),
      nl: t('.language_settings.dutch'),
      fr: t('.language_settings.french')
    }.invert %>
  </div>

  <div class="avatar_field">
    <%= link_to t('.change'), 'http://www.gravatar.com' %>
    <%= gravatar(60) %>
  </div>

  <div style="clear:both;"></div>
  <%= form.error_messages %>

  <div class="text_field">
    <%= form.label :handle %>
    <%= form.text_field :handle %>
  </div>

  <div class="text_field">
    <div class="email_top">
      <%= form.label :email %>
      <%= form.check_box :hide_email %>
      <%= form.label :hide_email, :class => "hide_email" %>
    </div>
    <%= form.email_field :email %>
  </div>

  <div class="text_field">
    <%= form.label :gittip_username, :class => "gittip_label" %>
    <a href="http://gittip.com/about" target="_blank" title="<%= t('.gittip_whats_this') %>"><div class="help_icon"></div></a>
    <%= form.text_field :gittip_username %>
  </div>

  <div class="submit_field">
    <%= form.submit t(".update_button"), :data => {:disable_with => t('form_disable_with')} %>
  </div>

  <h3><%= t '.reset_password.title' %></h3>
  <p><%= t('.reset_password.text', :link => link_to(t('.reset_password.link_text'), new_password_url)).html_safe %></p>

  <h3><%= t '.api_access.title' %></h3>
  <p>
    <%= t('.api_access.key_is', :key => content_tag(:strong, current_user.api_key)).html_safe %>
  </p>
  <p>
    <%= t('.api_access.credentials', :gem_credentials_file => content_tag(:code, '~/.gem/credentials'),
                                     :gem_commands_link => link_to(t('.api_access.link_text'), page_url('gem_docs'))).html_safe %>
  </p>
<pre><code>curl -u <%= current_user.name %> https://rubygems.org/api/v1/api_key.yaml > ~/.gem/credentials; chmod 0600 ~/.gem/credentials</code></pre>

<% end %>

<p><%= button_to t('.api_access.reset'), reset_api_v1_api_key_path, :method => :put, :data => {:confirm => t('.api_access.confirm_reset')} %></p>
