<% @title = "Edit Profile" %>

<%= form_for current_user, :url => {:controller => 'profiles', :action => 'update'} do |form| %>
  <%= form.error_messages %>

  <div class="avatar_field">
    <%= form.label :avatar, 'Avatar' %>
    <%= gravatar(60) %>
    <%= link_to 'Change', 'http://www.gravatar.com' %>
  </div>

  <div class="text_field">
    <%= form.label :handle, 'Handle' %>
    <%= form.text_field :handle, :size => 25 %>
  </div>

  <div class="text_field">
    <%= form.label :email, 'Email Address' %>
    <%= form.text_field :email, :size => 25 %>
  </div>

  <div class="submit_field">
    <%= form.submit "Update", :disable_with => "Please wait..." %>
  </div>

  <h3>Reset Password</h3>
  <p>Need a new password? No problem. <%= link_to "Request a new one here.", new_password_url %></p>

  <h3>API Access</h3>
  <p>Your API key is <strong><%= current_user.api_key %></strong>. <br />
  Your <code>~/.gem/credentials</code> file should look like this to use the <%= link_to "gem commands", page_url("gem_docs") %>:</p>

<pre><code>---
:rubygems_api_key: <%= current_user.api_key %></code></pre>

<% end %>

<p><%= button_to "Reset my API key", reset_api_v1_api_key_path, :method => :put, :confirm => "Are you sure? This cannot be undone." %></p>
