<% @title = t('.title') %>

<%= form_for current_user, :url => {:controller => 'profiles', :action => 'update'} do |form| %>
  <%= form.error_messages %>

  <div class="avatar_field">
    <%= form.label :avatar %>
    <%= gravatar(60) %>
    <%= link_to 'Change', 'http://www.gravatar.com' %>
  </div>

  <div class="text_field">
    <%= form.label :handle %>
    <%= form.text_field :handle, :size => 25 %>
  </div>

  <div class="text_field">
    <%= form.label :email %>
    <%= form.email_field :email, :size => 25 %>
  </div>

  <div class="text_field">
    <%= form.label :gittip_username %>
    <%= link_to "What's this?", "http://gittip.org/about" %>
    <%= form.text_field :gittip_username, :size => 25 %>
  </div>

  <div class="submit_field">
    <%= form.submit "Update", :data => {:disable_with => t('form_disable_with')} %>
  </div>

  <h3><%= t '.reset_password.title' %></h3>
  <p><%= t('.reset_password.text', :link => link_to(t('.reset_password.link_text'), new_password_url)).html_safe %></p>

  <h3><%= t '.api_access.title' %></h3>
  <p>
    <%= t('.api_access.key_is', :key => content_tag(:strong, current_user.api_key)).html_safe %>
  </p>
  <p>
    <%= t('.api_access.credentials', :gem_credentials_file => content_tag(:code, '~/.gem/credentials'),
                                     :gem_commands_link => link_to(t('.api_access.link_text'), page_url('gem_docs'))).html_safe %>
  </p>
<pre><code>curl -u <%= current_user.name %> https://rubygems.org/api/v1/api_key.yaml > ~/.gem/credentials</code></pre>

<% end %>

<p><%= button_to t('.api_access.reset'), reset_api_v1_api_key_path, :method => :put, :data => {:confirm => t('.api_access.confirm_reset')} %></p>
