<% @title = t('.title') %>

<div class="t-body">
  <%= raw @qrcode_svg %>
  <p><%= t('.scan_prompt') %></p>
</div>

<div class="t-body">
  <h2><%= t '.recovery_codes' %></h2>
  <ul>
    <% @recovery.each do |code| %>
      <li><%= code %></li>
    <% end %>
  </ul>
  <p><%= t '.recovery_note' %></p>
</div>

<div class="t-body">
  <h2>Current OTP</h2>
  <%= form_tag mfa_enable_profile_path, :method => :post do %>
    <div class="text_field">
      <p class='form__field__instructions'><%= t '.input_otp_prompt' %></p>
      <%= text_field_tag :otp, '', :class => 'form__input' %>
    </div>
    <%= submit_tag t('.enable_action'), :class => 'form__submit', :disabled => true %>
  <% end %>
</div>
