<% content_for :title do %>
  <div id="avatar-frame">
    <%= gravatar(64, "profile_gravatar", @user) %>
  </div>
  <div id="profile-info">
    <h2 id="profile-name"><%= link_to @user.handle, profile_path(@user) %></h2>
  </div>
  <div id="downloads-ego">
    <h5 id="downloads">Downloads</h5>
    <div id="downloads_count">
      <div><strong><%= number_with_delimiter(@user.today_downloads_count) %></strong> today</div>
      <div><strong><%= number_with_delimiter(@user.total_downloads_count) %></strong> all time</div>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "raphael", "g.raphael", "g.bar", :cache => true %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".profile-graph").each(function() {
        var r    = Raphael($(this).attr("id")),
            fin  = function () {
              this.flag = r.g.popup(this.bar.x, this.bar.y, "9/13: " + this.bar.value || "0").insertBefore(this);
            },
            fout = function () {
              this.flag.animate({opacity: 0}, 300, function () {this.remove();});
            };
        r.g.barchart(1, 9, 690, 125, [
          [38, 92, 37, 98, 38, 
          87, 83, 30, 19, 10, 
          38, 93, 47, 57, 55, 
          87, 83, 30, 19, 10, 
          38, 93, 47, 57, 55, 
          20, 13, 32, 28, 10]
          ],
          { type: "soft", colors : { 0 : "rgb(200, 164, 164)" } }

          ).hover(fin, fout);
      });
    });
  </script>
<% end %>

<div id="profile">
  <div class="profile-list">
    <ol>
      <% @user.rubygems.each do |rubygem| %>
        <li>
          <a href="<%=rubygem_path(rubygem)%>" class="profile-rubygem">
            <%= rubygem.name %>
            <em><%= rubygem.versions.most_recent %></em>
          </a>
          <a href="" class="profile-downloads">
            <div><span>8,990</span> downloads</div>
            <div><span>1,337</span> today</div>
          </a>
          <div id="graph-<%= rubygem.id %>" class="profile-graph">
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</div>
