<% content_for :title do %>
  <header class="profile__header">
    <div class="profile__header__name-wrap">
      <div id="avatar-frame">
        <%= image_tag(@user.gravatar_url(:size => 300, :secure => request.ssl?).html_safe, :id => "profile_gravatar", :width => 300, :height => 300, :class => 'profile__header__avatar') %>
      </div>
      <h1 id="profile-name" class="profile__header__name t-display"><%= link_to @user.display_handle, profile_path(@user.display_id), class: "t-link--black" %></h1>
      <% unless @user.hide_email %>
        <p id="profile-email">
          <%= mail_to @user.email, "Email Me", :encode => "hex", class: "profile__header__email t-link--black", 'data-icon' => '✉' %>
        </p>
      <% end %>
      <div id="profile-info">
        <%= link_to "Gittip", @user.gittip_url, :id => "profile-gittip", class: "profile__header__email t-link--black" unless @user.gittip_username.blank? %>
      </div>
      <% if @user == current_user %>
        <div id="downloads-ego">
          <%= link_to "Edit Profile", edit_profile_path, :id => "edit-profile", class: "profile__header__email t-link--black" %>
        </div>
      <% end %>
    </div>
    <% unless Rails.env.recovery? %>
      <div class="profile__downloads-wrap">
        <h4 class="gem__downloads__heading t-text--s">Total <%= "gem".pluralize(@user.total_rubygems_count) %></h4>
        <h2 id="profile-gems-count" class="gem__downloads"><%= @user.total_rubygems_count.to_s %></h2>
        <h4 id="downloads" class="gem__downloads__heading t-text--s">Total Downloads</h4>
        <h2 id="downloads_count" class="gem__downloads"><%= number_with_delimiter(@user.total_downloads_count) %></h2>
      </div>
    <% end %>
  </header>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "raphael", "g.raphael", "g.bar" %>
  <script type="text/javascript">
    $(document).ready(function() {
      var dates = <%= Rubygem.monthly_short_dates.to_json.html_safe %>;
      <% @rubygems.each do |rubygem| %>
        $.data(document.body, "graph-<%= rubygem.id %>", <%= rubygem.monthly_downloads.to_json.html_safe %>);
      <% end %>

      $(".profile-graph").each(function() {
        var id   = $(this).attr("id"),
            r    = Raphael(id),
            fin  = function () {
              var currentDate = dates[Math.floor(this.bar.x / 22 - 1)];
              this.flag = r.g.popup(this.bar.x, this.bar.y, currentDate + ": " + this.bar.value || "0").insertBefore(this);
            },
            fout = function () {
              this.flag.animate({opacity: 0}, 300, function () {this.remove();});
            };

        r.g.barchart(15, 9, 655, 125,
          [ $.data(document.body, id) ],
          { type: "soft", colors : { 0 : "rgb(200, 164, 164)" } }
        ).hover(fin, fout);
      });
    });
  </script>
<% end %>

<div id="profile">
  <div class="profile-list">
    <ul>
      <%= render :partial => 'rubygem', :collection => @rubygems + @extra_rubygems, :locals => {:graph => false}  %>
    </ul>
  </div>
</div>
