<% @title = t(".title", username: @user.display_id) %>

<% content_for :subject do %>
  <%= render "profiles/subject", user: @user %>
<% end %>

<!-- Main Content -->
<h1 class="text-h2 mb-10"><%= t(".title", username: @user.display_handle) %></h1>

<%= render CardComponent.new do |c| %>
  <%= c.head do %>
    <%= c.title t(".gems"), icon: "gems", count: @user.total_rubygems_count %>
  <% end %>

  <% if @rubygems.empty? %>
    <%= prose do %>
      <i><%= t(".no_gems") %></i>
    <% end %>
  <% else %>
    <%= c.divided_list do %>
      <% @rubygems.each do |rubygem| %>
        <% version = rubygem.latest_version || rubygem.most_recent_version %>
        <%= c.list_item_to(
          rubygem_path(rubygem.slug),
          title: short_info(version),
        ) do %>
          <div class="flex flex-col w-full justify-between">
            <div class="flex flex-row w-full items-center justify-between">
              <h4 class="text-b1 flex"><%= rubygem.name %></h4>
              <span data-testid="rubygem-version"><%= version_number(version) %></span>
            </div>
            <div class="flex flex-row w-full items-center justify-between">
              <%= download_count_component(rubygem, class: "flex", data: { testid: "rubygem-downloads" }) %>
              <div class="flex text-neutral-600"><%= version_date_component(version) %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
