<% content_for :title do %>
  <div id="avatar-frame">
    <%= gravatar(64, "profile_gravatar", @user) %>
  </div>
  <div id="profile-info">
    <h2 id="profile-name"><%= link_to @user.handle, profile_path(@user) %></h2>
  </div>
  <div id="downloads-ego">
    <h5 id="downloads">Downloads</h5>
    <div id="downloads_count">
      <div><strong><%= number_with_delimiter(@user.today_downloads_count) %></strong> today</div>
      <div><strong><%= number_with_delimiter(@user.total_downloads_count) %></strong> all time</div>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "raphael", "g.raphael", "g.bar", :cache => true %>
  <script type="text/javascript">
    $(document).ready(function() {
      var dates = <%= Rubygem.monthly_short_dates.to_json.html_safe %>;
      <% @rubygems.each do |rubygem| %>
        $.data(document.body, "graph-<%= rubygem.id %>", <%= rubygem.monthly_downloads.to_json.html_safe %>);
      <% end %>

      $(".profile-graph").each(function() {
        var id   = $(this).attr("id"),
            r    = Raphael(id),
            fin  = function () {
              var currentDate = dates[Math.floor(this.bar.x / 23)]
              this.flag = r.g.popup(this.bar.x, this.bar.y, currentDate + ": " + this.bar.value || "0").insertBefore(this);
            },
            fout = function () {
              this.flag.animate({opacity: 0}, 300, function () {this.remove();});
            };

        r.g.barchart(15, 9, 655, 125,
          [ $.data(document.body, id) ],
          { type: "soft", colors : { 0 : "rgb(200, 164, 164)" } }
        ).hover(fin, fout);
      });
    });
  </script>
<% end %>

<div id="profile">
  <div class="profile-list">
    <ol>
      <% @rubygems.each do |rubygem| %>
        <li>
          <a href="<%= rubygem_path(rubygem) %>" class="profile-rubygem">
            <%= rubygem.name %>
            <em><%= rubygem.versions.most_recent %></em>
          </a>
          <a href="<%= rubygem_stats_path(rubygem) %>" class="profile-downloads">
            <div><span><%= number_with_delimiter rubygem.downloads %></span> downloads</div>
            <div><span><%= number_with_delimiter rubygem.downloads_today %></span> today</div>
          </a>
          <div id="graph-<%= rubygem.id %>" class="profile-graph">
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</div>
