<% @title = "sign in" %>
  <div class="form_links sign_in_links">
    <div class="rubyforge_migrate">
      You can now sign in with your <%= link_to "RubyForge Account too!", "http://update.gemcutter.org/2009/12/10/rubyforge-accounts-migrated.html" %>
    </div>
    <%= link_to "Forgot Password?", new_password_url %>
  </div>
<% form_for :session, :url => session_path do |form| %>
  <div class="text_field">
    <%= form.label :email %>
    <%= form.text_field :email, :size => '25' %>
  </div>
  <div class="password_field">
    <%= form.label :password %>
    <%= form.password_field :password, :size => '25' %>
  </div>
  <div class="form_bottom">
    <%= form.submit "Sign in", :disable_with => "Please wait..." %>
  </div>
<% end %>
