-@title = "sign in"
-@subtitle = ""
.grid_12
  -form_for :session, :url => session_path do |form|
    .text_field
      = form.label :email
      = form.text_field :email
    .password_field
      = form.label :password
      = form.password_field :password
    .form_bottom
      = form.submit "Sign in", :disable_with => "Please wait..."
    .form_links
      =link_to "Sign Up", new_user_url
      =link_to "Forgot Password?", new_password_url
