<% @title = t('multifactor_authentication') %>

<div class="mfa__container">
  <% if @user.webauthn_credentials.any? %>
    <div class="mfa__option">
      <h2 class="page__subheading--block"> <%= t(".security_device") %></h2>
      <div class="t-body">
        <p><%= t(".webauthn_credential_note") %></p>
      </div>

      <%= form_tag webauthn_create_session_path, method: :post, class: "js-webauthn-session--form", data: { options: @webauthn_options.to_json } do %>
        <div class="form_bottom">
          <p hidden class="l-text-red-600 js-webauthn-session--error"></p>

          <%= submit_tag t('.sign_in_with_webauthn_credential'), class: 'js-webauthn-session--submit form__submit form__submit--no-hover' %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @user.mfa_enabled? %>
    <div class="mfa__option">
      <h2 class="page__subheading--block"> <%= t(".otp_code") %></h2>
      <div class="t-body">
        <p><%= t("multifactor_auths.recovery_code_html") %></p>
      </div>

      <%= form_tag mfa_create_session_path, method: :post, class: "mfa-form" do %>
        <div class="text_field">
          <%= label_tag :otp, t('.otp_or_recovery'), class: 'form__label' %>
          <%= text_field_tag :otp, '', class: 'form__input', autofocus: true, autocomplete: :off %>
        </div>
        <div class="form_bottom">
          <%= submit_tag t('.verify_code'), data: { disable_with: t('form_disable_with') }, class: 'form__submit' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
