<% heading_class = "text-b4 font-bold uppercase tracking-wide text-neutral-800 dark:text-neutral-200" %>
<div class="flex flex-col gap-4 pt-2 lg:pt-10 pb-2 lg:pb-6">
  <div>
    <h1 class="text-h3 font-semibold break-words text-neutral-900 dark:text-white"><%= @rubygem.name %></h1>
    <div class="flex flex-wrap items-center gap-2 mt-1">
      <%= version_number(@latest_version) %>
      <%= version_date_component(@latest_version) %>
    </div>
  </div>

  <% if @latest_version != @rubygem.most_recent_version %>
    <%= link_to rubygem_path(@rubygem.slug),
          class: "flex w-full items-center gap-3 px-4 py-3 h-12 min-h-12 rounded border-2 border-green-500 text-b3 " \
                 "bg-green-500/10 text-green-700 dark:text-green-300 hover:bg-green-500/15 active:bg-green-500/20 " \
                 "dark:hover:bg-green-500/20 dark:active:bg-green-500/30 hover:shadow-md " \
                 "transition duration-200 ease-in-out focus:outline-none" do %>
      <%= icon_tag "auto-awesome", size: 6 %>
      <span class="flex-1 text-left"><%= t("rubygems.aside.latest_version_button") %></span>
      <%= icon_tag "arrow-circle-right", size: 6 %>
    <% end %>
  <% end %>

  <%= link_to rubygem_versions_path(@rubygem.slug),
        class: "flex w-full items-center px-4 py-3 h-12 min-h-12 rounded border-2 border-green-500 text-b3 " \
               "text-green-700 dark:text-green-300 hover:bg-green-500/5 active:bg-green-500/10 " \
               "dark:hover:bg-green-500/15 dark:active:bg-green-500/25 hover:shadow-md " \
               "transition duration-200 ease-in-out focus:outline-none" do %>
    <span class="flex-1 text-left"><%= t("rubygems.aside.versions_button", count: @rubygem.versions_count) %></span>
    <%= icon_tag "arrow-circle-right", size: 6 %>
  <% end %>

  <div class="flex flex-col gap-3">
    <div>
      <h2 class="<%= heading_class %>"><%= t("total_downloads") %></h2>
      <p class="text-h4 font-semibold text-neutral-900 dark:text-white"><%= number_with_delimiter(@rubygem.downloads) %></p>
    </div>
    <div>
      <h2 class="<%= heading_class %>"><%= t("rubygems.aside.downloads_for_this_version") %></h2>
      <p class="text-b2 font-semibold text-neutral-900 dark:text-white"><%= number_with_delimiter(@latest_version.downloads_count) %></p>
    </div>
  </div>

  <% if @rubygem.metadata_mfa_required? %>
    <p class="text-b4 text-neutral-800 dark:text-neutral-200"><span class="uppercase font-semibold"><%= t("rubygems.aside.requires_mfa") %></span>: true</p>
  <% end %>
  <% if @latest_version.rubygems_metadata_mfa_required? %>
    <p class="text-b4 text-neutral-800 dark:text-neutral-200"><span class="uppercase font-semibold"><%= t("rubygems.aside.released_with_mfa") %></span>: true</p>
  <% end %>

  <% if github_data_params = github_params(@rubygem) %>
    <%= render partial: "rubygems/github_button", locals: { github_data_params: github_data_params } %>
  <% end %>
</div>
