<% if dependencies.present? && @latest_version.indexed %>
  <div class="dependencies" id="<%= dependencies.first.scope %>_dependencies">
    <h5><%= t '.header', :title => dependencies.first.scope.titleize %></h5>
    <ol>
    <% dependencies.each do |dependency| %>
      <li>
        <a href="<%= rubygem_url(dependency.rubygem) %>">
          <strong><%= dependency.rubygem.name %></strong> <%= dependency.clean_requirements %>
        </a>
      </li>
    <% end %>
    </ol>
  </div>
<% end %>
