<% if dependencies.present? && @latest_version.indexed %>
  <div class="l-half--l">
    <div class="dependencies" id="<%= dependencies.first.scope %>_dependencies">
      <h3 class="t-list__heading"><%= t '.header', :title => dependencies.first.scope.titleize %>:</h3>
      <div class="t-list__items">
        <% dependencies.each do |dependency| %>
          <% if rubygem = dependency.rubygem %>
            <%= link_to rubygem_path(rubygem), :class => 't-list__item' do %>
              <strong><%= rubygem.name %></strong> <%= dependency.clean_requirements %>
            <% end %>
          <% elsif dependency.try(:name) %>
            <p class="t-list__item">
              <strong><%= dependency.name %></strong> <%= dependency.clean_requirements %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
