<% if dependencies.present? && @latest_version.indexed %>
  <div class="dependencies gem__dependencies" id="<%= dependencies.first.scope %>_dependencies">
    <h3 class="t-list__heading"><%= t '.header', :title => dependencies.first.scope.titleize %> (<%= dependencies.size %>):</h3>
    <div class="t-list__items">
      <% dependencies.each do |dependency| %>
        <% dependency.rubygem.tap do |rubygem| %>
          <div class="<%= class_names("gem__requirement-wrap", "gem__unregistered": !rubygem) %>">
            <%= link_to_if rubygem, tag.strong(rubygem&.name || dependency.name), rubygem_path(rubygem&.slug || "-"), class: "t-list__item" %>
            <%= dependency.clean_requirements %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
