<div class="gem__members">
  <% if rubygem.owners.present? %>
    <h3 class="t-list__heading"><%= t '.owners_header' %>:</h3>
    <div class="gem__users">
      <%= links_to_owners(rubygem) %>
    </div>

    <% if  rubygem.owned_by?(current_user) %>
      <% if rubygem.owners.without_mfa.present? %>
        <% if rubygem.owners.without_mfa.size > 1 %>
          <span class="gem__users__mfa-text mfa-warn"><%= t '.not_using_mfa_warning_show' %></span>
        <% else %>
          <span class="gem__users__mfa-text mfa-warn">
            <%= t '.rubygems.gem_members.single_owner_not_using_mfa_warning_show'.html_safe %>
          </span>
        <% end %>

        <div class="gem__users__mfa-disabled t-item--hidden">
          <span class="gem__users__mfa-text mfa-warn t-item--hidden"><%= t '.not_using_mfa_warning_hide' %></span>
          <div class="gem__users">
            <%= links_to_owners_without_mfa(rubygem) %>
          </div>
        </div>
      <% else %>
          <span class="gem__users__mfa-text mfa-info"><%= t '.using_mfa_info' %></span>
      <% end %>
    <% end %>
  <% end %>

  <% if latest_version.pusher.present? %>
    <h3 class="t-list__heading"><%= t '.pushed_by' %>:</h3>
    <div class="gem__users">
      <%= link_to_user(latest_version.pusher) %>
    </div>
  <% end %>

  <% if latest_version.yanker.present? %>
    <h3 class="t-list__heading"><%= t '.yanked_by' %>:</h3>
    <div class="gem__users">
      <%= link_to_user(latest_version.yanker) %>
    </div>
  <% end %>

  <% if latest_version.authors.present? %>
    <h3 class="t-list__heading"><%= t '.authors_header' %>:</h3>
    <ul class="t-list__items">
      <li class="t-list__item">
        <p><%= latest_version.authors %></p>
      </li>
    </ul>
  <% end %>

  <% if latest_version.sha256.present? %>
    <h3 class="t-list__heading"><%= t '.sha_256_checksum' %>:</h3>
    <div class="gem__sha">
      <%= latest_version.sha256_hex %>
    </div>
  <% end %>
</div>
