<% release_heading_class = "text-b1 font-semibold text-neutral-900 dark:text-white mb-2" %>
<div class="flex flex-col gap-8">
  <% if latest_version.pusher.present? %>
    <div>
      <h3 class="<%= release_heading_class %>"><%= t ".pushed_by" %></h3>
      <div class="gem__users">
        <%= render "rubygems/owner", owner: latest_version.pusher %>
      </div>
    </div>
  <% elsif latest_version.pusher_api_key&.owner.present? %>
    <div>
      <h3 class="<%= release_heading_class %>"><%= t ".pushed_by" %></h3>
      <div class="gem__users">
        <%= link_to_pusher(latest_version.pusher_api_key.owner) %>
      </div>
    </div>
  <% end %>

  <% if latest_version.yanker.present? %>
    <div>
      <h3 class="<%= release_heading_class %>"><%= t ".yanked_by" %></h3>
      <div class="gem__users">
        <%= render "rubygems/owner", owner: latest_version.yanker %>
      </div>
    </div>
  <% end %>

  <% if latest_version.sha256.present? %>
    <div>
      <h3 class="<%= release_heading_class %>"><%= t ".sha_256_checksum" %></h3>
      <%= copy_field_tag("gem_sha_256_checksum", latest_version.sha256_hex, aria_label: t(".sha_256_checksum")) %>
    </div>
  <% end %>

  <% if latest_version.cert_chain.present? %>
    <div>
      <h3 class="<%= release_heading_class %>"><%= t ".signature_period" %></h3>
      <div class="text-b2">
        <%= nice_date_for(latest_version.cert_chain_valid_not_before) %> -
        <%= nice_date_for(latest_version.cert_chain_valid_not_after) %>
        <% if latest_version.signature_expired? %>
          (<%= t ".expired" %>)
        <% end %>
      </div>
    </div>
  <% end %>

  <% if latest_version.attestations.present? %>
    <div>
      <h3 class="<%= release_heading_class %>"><%= t ".provenance_header" %></h3>
      <% latest_version.attestations.each do |attestation| %>
        <%= render Version::ProvenanceComponent.new(attestation:) %>
      <% end %>
    </div>
  <% end %>
</div>
