<%= link_to rubygem_path(rubygem), class: 'gems__gem' do %>
  <div class="gems__gem__info">
    <h2 class="gems__gem__name">
      <%= rubygem.name %>
      <span class="gems__gem__version"><%= latest_version_number(rubygem) %></span>
    </h2>
    <p class="gems__gem__desc t-text"><%= short_info(rubygem.versions.most_recent) %></p>
  </div>
  <p class="gems__gem__downloads__count">
    <%= download_count rubygem %>
    <span class="gems__gem__downloads__heading">Downloads</span>
  </p>
<% end %>
