<%= link_to rubygem_path(rubygem), :class => 'gems__gem' do %>
  <span class="gems__gem__info">
    <h2 class="gems__gem__name">
      <%= rubygem.name %>
      <span class="gems__gem__version"><%= latest_version_number(rubygem) %></span>
    </h2>
    <p class="gems__gem__desc t-text"><%= short_info(rubygem.latest_version || rubygem.versions.last) %></p>
  </span>
  <p class="gems__gem__downloads__count">
    <%= download_count rubygem %>
    <span class="gems__gem__downloads__heading">
      <%= t('rubygems.index.downloads') %>
    </span>
  </p>
<% end %>
