<%= link_to rubygem_path(rubygem.name), :class => 'gems__gem' do %>
  <span class="gems__gem__info">
    <h2 class="gems__gem__name">
      <%= rubygem.name %>
      <% if rubygem.owners.all?(&:verified) %>
        <%=
          image_tag(
            "rubygems_logo_black.png",
            title: 'Verified User',
            width: 20
          )
        %>
      <% end %>
      <span class="gems__gem__version"><%= latest_version_number(rubygem) %></span>
    </h2>
    <p class="gems__gem__desc t-text"><%= short_info(rubygem) %></p>
  </span>
  <p class="gems__gem__downloads__count">
    <%= download_count rubygem %>
    <span class="gems__gem__downloads__heading">
      <%= t('rubygems.index.downloads') %>
    </span>
  </p>
<% end %>
