-@title = @gem.name
-@subtitle = @current_version
-@page_title = "#{@gem} &raquo; #{page_title}"
-if @current_version
  .grid_8
    .block.red
      %h3 Description
      %p= @current_version.info
    .block.green
      %h3 Install
      %pre= "gem install #{@gem.name}"
    -if @gem.versions.size > 1
      .block.red.versions
        %h3 Versions
        %p
          -@gem.versions.each do |version|
            %a{:href => "/"}
              %span.big= version.number
              %span.small= version.created_at.to_date.to_formatted_s(:long)
  .grid_4
    -if signed_in?
      -if @gem.unowned?
        .block.red
          %h3 Migrate from RubyForge
          %p
            =link_to "Begin Migration", migrate_rubygem_path(@gem)
      -if @gem.owned_by?(current_user)
        .block.red
          %h3 Administration
          %p
            =link_to "Edit Gem", edit_rubygem_path(@gem)
    -unless @current_version.authors.empty?
      .block.red
        %h3 Authors
        %p= @current_version.authors
    .block.red
      %h3 Downloads
      %p= number_with_delimiter(@gem.downloads)
    .block.red
      %h3 Last Update
      %p= @current_version.created_at.to_date.to_formatted_s(:long)
    -unless @gem.linkset.empty?
      .block.red.links
        %h3 Links
        %p
          =link_to_page "Homepage", @gem.linkset.home
          =link_to_page "Source Code", @gem.linkset.code
          =link_to_page "Documentation", @gem.linkset.docs
          =link_to_page "Wiki", @gem.linkset.wiki
          =link_to_page "Mailing List", @gem.linkset.mail
          =link_to_page "Bug Tracker", @gem.linkset.bugs
    -unless @current_dependencies.empty?
      .block.red
        %h3 Dependencies
        %p
          -@current_dependencies.each do |dependency|
            %a{:href => rubygem_url(dependency.rubygem)}
              %span.big= dependency.rubygem.name
              %span.small= dependency.name
-else
  .grid_12
    %p This gem is not currently hosted on Gemcutter.
