<% @title = @rubygem.name %>

<% content_for :head do %>
  <meta name="robots" content="noindex" />
<% end %>

<% content_for :subject do %>
  <%= render "rubygems/aside_yanked" %>
<% end %>

<% content_for :subject_secondary do %>
  <%= render "rubygems/aside_yanked_secondary" %>
<% end %>

<div class="flex flex-col gap-8 pb-16 lg:pt-10 text-neutral-800 dark:text-neutral-200">
  <div>
    <%= render AlertComponent.new(style: :alert) do %>
      <% if @rubygem.pushable? %>
        <%= t ".not_hosted_notice" %>
      <% else %>
        <%= t(".reserved_namespace_html", count: @rubygem.protected_days) %>
      <% end %>
    <% end %>
    <%= unsubscribe_link(@rubygem) %>
  </div>

  <% unless @rubygem.pushable? %>
    <%= render partial: "rubygems/release_info", locals: { latest_version: @latest_version, rubygem: @rubygem } %>
  <% end %>
</div>
