<% @title = @rubygem.name %>
<% @subtitle = @latest_version.try(:slug) %>

<% if @rubygem.versions.count.zero? %>
  <p>
    This gem is not currently hosted on Gemcutter.
  </p>
<% else %>
  <% if @latest_version.indexed %>
    <div id="markup">
      <%= simple_markup(@latest_version.info) %>
    </div>

    <div class="border">
      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
              width="110"
              height="32"
              id="clippy" >
      <param name="movie" value="/clippy.swf"/>
      <param name="allowScriptAccess" value="always" />
      <param name="quality" value="high" />
      <param name="scale" value="noscale" />
      <param NAME="FlashVars" value="text=<%= @latest_version.to_install %>">
      <param name="wmode" value="transparent">
      <embed src="/clippy.swf"
             width="110"
             height="32"
             name="clippy"
             quality="high"
             allowScriptAccess="always"
             type="application/x-shockwave-flash"
             pluginspage="http://www.macromedia.com/go/getflashplayer"
             FlashVars="text=<%= @latest_version.to_install %>"
             wmode="transparent"
      />
      </object>
      <div class="install">
        <div class="instructions"><strong>install</strong><span><%= @latest_version.to_install %></span></div>
      </div>
    </div>
  <% else %>
    <p>
      This gem has been yanked, but it is still available for download for other gems that may have depended on it.
      For more information or if you need to remove it permanently, <%=link_to "please click here.", "http://help.rubygems.org/faqs/gemcutter/removing-a-published-rubygem" %>
    </p>
  <% end %>

  <div class="border">
    <div class="meta">
      <div class="admin">
        <%= link_to "Edit", edit_rubygem_path(@rubygem), :id => "edit" if @rubygem.owned_by?(current_user) %>
        <%= download_link(@latest_version) %>
        <%= documentation_link(@latest_version, @rubygem.linkset) %>
        <% if @latest_version.indexed %>
          <%= subscribe_link(@rubygem) %>
          <%= unsubscribe_link(@rubygem) %>
        <% end %>
        <%= link_to "Stats", rubygem_stats_path(@rubygem), :id => "stats" %>
      </div>

      <% if @latest_version.indexed %>
        <div class="who">
          <div class="authors">
            <% if @latest_version.authors.present? %>
              <h5>Authors</h5>
              <p><%= @latest_version.authors %></p>
            <% end %>
          </div>

          <div class="downloads counter" data-href="<%= api_v1_download_path(@latest_version.full_name, :format => 'json') %>">
            <span>
              <strong><%= number_with_delimiter(@rubygem.downloads) %></strong> total downloads
            </span>
            <span>
              <strong><%= number_with_delimiter(@latest_version.downloads_count) %></strong> for this version
            </span>
          </div>

          <% if @rubygem.owners.present? %>
            <div class="owners">
              <h5>Owners</h5>
              <p><%= links_to_owners(@rubygem) %></p>
            </div>
          <% end %>

        </div>

        <% unless @rubygem.linkset.empty? %>
          <div class="links">
            <h5>Links</h5>
            <%= link_to_page "Homepage", @rubygem.linkset.home %>
            <%= link_to_page "Source Code", @rubygem.linkset.code %>
            <%= link_to_page "Documentation", @rubygem.linkset.docs %>
            <%= link_to_page "Wiki", @rubygem.linkset.wiki %>
            <%= link_to_page "Mailing List", @rubygem.linkset.mail %>
            <%= link_to_page "Bug Tracker", @rubygem.linkset.bugs %>
          </div>
        <% end %>
      <% end %>

      <div class="versions">
        <h5>Versions</h5>
        <ol>
          <%= render @rubygem.public_versions %>
        </ol>
        <% if @rubygem.versions.count > 5 %>
          <%= link_to "Show all versions (#{@rubygem.versions.count} total)", rubygem_versions_url(@rubygem), :class => "more" %>
        <% end %>
      </div>

      <%= render :partial => "rubygems/dependencies", :locals => { :dependencies => @latest_version.dependencies.runtime } %>
      <%= render :partial => "rubygems/dependencies", :locals => { :dependencies => @latest_version.dependencies.development } %>
    </div>
  </div>
<% end %>
