<% @title = @rubygem.name %>
<% @subtitle = @latest_version.try(:slug) %>

<% if @rubygem.versions.count.zero? %>
  <p><%= t '.not_hosted_notice' %></p>
<% else %>
  <% if @latest_version.indexed %>
    <div id="markup">
      <%= simple_markup(@latest_version.info) %>
    </div>

    <div class="border">
      <%= render :partial => "rubygems/clippy", :locals => { :embed => "clippy", :text => @latest_version.to_install } %>
      <div class="install">
        <div class="instructions"><strong><%= t '.install' %></strong><span><%= @latest_version.to_install %></span></div>
      </div>
    </div>
  <% else %>
    <p><%= t('.yanked_notice', :more_info_link => link_to(t('.yank_info_link_text'), "http://help.rubygems.org/faqs/gemcutter/removing-a-published-rubygem")).html_safe %></p>
  <% end %>

  <div class="border">
    <div class="meta">
      <div class="admin">
        <%= link_to t('edit'), edit_rubygem_path(@rubygem), :id => "edit" if @rubygem.owned_by?(current_user) %>
        <%= download_link(@latest_version) %>
        <%= documentation_link(@latest_version, @rubygem.linkset) %>
        <% if @latest_version.indexed %>
          <%= subscribe_link(@rubygem) %>
          <%= unsubscribe_link(@rubygem) %>
          <%= link_to t('.stats_header'), rubygem_stats_path(@rubygem), :id => "stats" %>
        <% end %>
      </div>

      <% if @latest_version.indexed %>
        <div class="who">
          <div class="authors">
            <% if @latest_version.authors.present? %>
              <h5><%= t '.authors_header' %></h5>
              <p><%= @latest_version.authors %></p>
            <% end %>
          </div>

          <div class="downloads counter" data-href="<%= api_v1_download_path(@latest_version.full_name, :format => 'json') %>">
            <span>
              <%= t('stats.show.total_downloads', :count => content_tag(:strong, number_with_delimiter(@rubygem.downloads))).html_safe %>
            </span>
            <span>
              <%= t('.downloads_for_this_version', :count => content_tag(:strong, number_with_delimiter(@latest_version.downloads_count))).html_safe %>
            </span>
          </div>

          <% if @rubygem.owners.present? %>
            <div class="owners">
              <h5><%= t '.owners_header' %></h5>
              <p><%= links_to_owners(@rubygem) %></p>
            </div>
          <% end %>

        </div>

        <% if @rubygem.linkset.present? %>
          <div class="links">
            <h5><%= t '.links.header' %></h5>
            <%= link_to_page t('.links.home'), @rubygem.linkset.home %>
            <%= link_to_page t('.links.code'), @rubygem.linkset.code %>
            <%= link_to_page t('.links.docs'), @rubygem.linkset.docs %>
            <%= link_to_page t('.links.wiki'), @rubygem.linkset.wiki %>
            <%= link_to_page t('.links.mail'), @rubygem.linkset.mail %>
            <%= link_to_page t('.links.bugs'), @rubygem.linkset.bugs %>
          </div>
        <% end %>

        <div class="bundler">
          <h5><%= t '.bundler_header' %></h5>
          <%= render :partial => "rubygems/clippy", :locals => { :embed => "github_clippy", :text => @latest_version.to_bundler } %>
          <pre><code><%= @latest_version.to_bundler %></code></pre>
        </div>
      <% end %>

    <% if @versions.present? %>
      <div class="versions">
        <h5><%= t '.versions_header' %></h5>
        <ol>
          <%= render @versions %>
        </ol>
        <% if show_all_versions_link?(@rubygem) %>
          <%= link_to t('.show_all_versions', :count => @rubygem.versions.count), rubygem_versions_url(@rubygem), :class => "more" %>
        <% end %>
      </div>
    <% end %>

      <%= render :partial => "rubygems/dependencies", :locals => { :dependencies => @latest_version.dependencies.runtime } %>
      <%= render :partial => "rubygems/dependencies", :locals => { :dependencies => @latest_version.dependencies.development } %>
    </div>
  </div>
<% end %>
