<table class="owners__table">
  <tbody class="owners__tbody">
  <tr class="owners__row owners__header">
    <th class="owners__cell">
      <%= t("owners.index.name") %>
    </th>
    <th class="owners__cell">
      <%= t("owners.index.status") %>
    </th>
    <th class="owners__cell">
      <%= t("owners.index.mfa") %>
    </th>
    <th class="owners__cell">
      <%= t("owners.index.added_by") %>
    </th>
    <th class="owners__cell">
      <%= t("owners.index.role") %>
    </th>
    <th class="owners__cell">
      <%= t("owners.index.confirmed_at") %>
    </th>
    <% if can_modify_or_remove_owners?(@rubygem) %>
    <th class="owners__cell">
      <%= t("owners.index.action") %>
    </th>
    <% end %>
  </tr>

  <% @ownerships.each do |ownership| %>
    <tr class="owners__row">
      <td class="owners__cell" data-title="Name">
        <%= link_to(ownership.owner_name, profile_path(ownership.user.display_id), class: "owner__profile") %>
      </td>
      <td class="owners__cell" data-title="Confirmed">
        <span class="owners__icon">
          <%= confirmation_status(ownership) %>
        </span>
      </td>
      <td class="owners__cell" data-title="MFA">
        <span class="owners__icon">
          <%= mfa_status(ownership.user) %>
          <%= t("settings.edit.mfa.level." + ownership.user.mfa_level) %>
        </span>
      </td>
      <td class="owners__cell" data-title="Added By">
        <%= ownership.authorizer_name %>
      </td>
      <td class="owners__cell" data-title="Role">
        <%= Ownership.human_attribute_name("role.#{ownership.role}") %>
      </td>
      <td class="owners__cell" data-title="Confirmed At">
        <%= ownership.confirmed_at.strftime("%Y-%m-%d %H:%M %Z") if ownership.confirmed? %>
      </td>
      <% if can_modify_or_remove_owners?(@rubygem) %>
      <td class="owners__cell" data-title="Action">
        <% if can_remove_owners?(@rubygem) %>
        <%= button_to t("remove"),
          rubygem_owner_path(@rubygem.slug, ownership.user.display_id),
          method: "delete",
          data: { confirm: t("owners.index.confirm_remove") },
          class: "form__submit form__submit--small" %>
        <% end %>
        <% if can_modify_owners?(@rubygem) %>
        <br>
        <%= button_to t("edit"),
          edit_rubygem_owner_path(@rubygem.name, ownership.user.display_id),
          disabled: ownership.user == current_user,
          method: "get",
          class: "form__submit form__submit--small" %>
        <% end %>
      </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
