<table class="owners__table">
  <tbody class="owners__tbody">
  <tr class="owners__row owners__header">
    <th class="owners__cell">
      <%= t("owners.index.name") %>
    </th>
    <th class="owners__cell">
      <%= t("owners.index.mfa") %>
    </th>
    <th class="owners__cell">
      <%= t("owners.index.confirmed") %>
    </th>
    <th class="owners__cell">
      <%= t("owners.index.added_on") %>
    </th>
    <th class="owners__cell">
      <%= t("owners.index.added_by") %>
    </th>
    <th class="owners__cell">
      <%= t("owners.index.action") %>
    </th>
  </tr>

  <% @ownerships.each do |ownership| %>
    <tr class="owners__row">
      <td class="owners__cell" data-title="Name">
        <%= link_to(ownership.owner_name, profile_path(ownership.user), class: "owner_profile") %>
      </td>
      <td class="owners__cell" data-title="MFA">
        <%= ownership.user.mfa_level == "disabled" ? "✗" : "✔" %>
      </td>
      <td class="owners__cell" data-title="Confirmed">
        <%= ownership.confirmed? ? "✔" : "✗" %>
      </td>
      <td class="owners__cell" data-title="Added On">
        <%= nice_date_for(ownership.confirmed_at) if ownership.confirmed? %>
      </td>
      <td class="owners__cell" data-title="Added By">
        <%= ownership.authorizer_name %>
      </td>
      <td class="owners__cell" data-title="Action">
        <%= button_to "Remove", rubygem_owner_path(@rubygem, ownership), method: "delete", class: "form__submit form__submit--small" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
