<table class="owners__table">
  <tbody class="owners__tbody">
  <tr class="owners__row owners__header">
    <th class="owners__cell">
      NAME
    </th>
    <th class="owners__cell">
      MFA
    </th>
    <th class="owners__cell">
      CONFIRMED
    </th>
    <th class="owners__cell">
      ADDED ON
    </th>
    <th class="owners__cell">
      ADDED BY
    </th>
    <th class="owners__cell">
      ACTION
    </th>
  </tr>

  <tr class="owners__row">
    <td class="owners__cell" data-title="Name">
      Luke Peters
    </td>
    <td class="owners__cell" data-title="MFA">
      ✔
    </td>
    <td class="owners__cell" data-title="Confirmed">
      ✔
    </td>
    <td class="owners__cell" data-title="Added On">
      <%= nice_date_for(Time.now) %>
    </td>
    <td class="owners__cell" data-title="Added By">
      Joseph Smith
    </td>
    <td class="owners__cell" data-title="Action">
      <%= button_to "Remove", rubygem_path(@rubygem), :method => 'get', :class => 'remove__owners__button' %>
    </td>
  </tr>

  <tr class="owners__row">
    <td class="owners__cell" data-title="Name">
      Luke Peters
    </td>
    <td class="owners__cell" data-title="MFA">
      ✔
    </td>
    <td class="owners__cell" data-title="Confirmed">
      ✔
    </td>
    <td class="owners__cell" data-title="Added On">
      <%= nice_date_for(Time.now) %>
    </td>
    <td class="owners__cell" data-title="Added By">
      Joseph Smith
    </td>
    <td class="owners__cell" data-title="Action">
      <%= button_to "Remove", rubygem_path(@rubygem), :method => 'get', :class => 'remove__owners__button' %>
    </td>
  </tr>

  <tr class="owners__row">
    <td class="owners__cell" data-title="Name">
      Luke Peters
    </td>
    <td class="owners__cell" data-title="MFA">

    </td>
    <td class="owners__cell" data-title="Confirmed">
      ✔
    </td>
    <td class="owners__cell" data-title="Added On">
      <%= nice_date_for(Time.now) %>
    </td>
    <td class="owners__cell" data-title="Added By">
      Joseph Smith
    </td>
    <td class="owners__cell" data-title="Action">
      <%= button_to "Remove", rubygem_path(@rubygem), :method => 'get', :class => 'remove__owners__button' %>
    </td>
  </tr>

  <tr class="owners__row">
    <td class="owners__cell" data-title="Name">
      Joseph Smith
    </td>
    <td class="owners__cell" data-title="MFA">

    </td>
    <td class="owners__cell" data-title="Confirmed">
      ✔
    </td>
    <td class="owners__cell" data-title="Added On">
      <%= nice_date_for(Time.now) %>
    </td>
    <td class="owners__cell" data-title="Added By">
      Original Author
    </td>
    <td class="owners__cell" data-title="Action">
      <%= button_to "Remove", rubygem_path(@rubygem), :method => 'get', :class => 'remove__owners__button' %>
    </td>
  </tr>

  <tr class="owners__row">
    <td class="owners__cell" data-title="Name">
      Maxwell Johnson
    </td>
    <td class="owners__cell" data-title="MFA">
      ✔
    </td>
    <td class="owners__cell" data-title="Confirmed">

    </td>
    <td class="owners__cell" data-title="Added On">
      <%= nice_date_for(Time.now) %>
    </td>
    <td class="owners__cell" data-title="Added By">
      Maxwell Johnson
    </td>
    <td class="owners__cell" data-title="Action">
      <%= button_to "Remove", rubygem_path(@rubygem), :method => 'get', :class => 'remove__owners__button' %>
    </td>
  </tr>

  <tr class="owners__row">
    <td class="owners__cell" data-title="Name">
      Harry Harrison
    </td>
    <td class="owners__cell" data-title="MFA">

    </td>
    <td class="owners__cell" data-title="Confirmed">

    </td>
    <td class="owners__cell" data-title="Added On">
      <%= nice_date_for(Time.now) %>
    </td>
    <td class="owners__cell" data-title="Added By">
      Maxwell Johnson
    </td>
    <td class="owners__cell" data-title="Action">
      <%= button_to "Remove", rubygem_path(@rubygem), :method => 'get', :class => 'remove__owners__button' %>
    </td>
  </tr>
  </tbody>
</table>
