<table class="owners__table">
  <tbody class="owners__tbody">
  <tr class="owners__row owners__header">
    <th class="owners__cell">
      NAME
    </th>
    <th class="owners__cell">
      MFA
    </th>
    <th class="owners__cell">
      CONFIRMED
    </th>
    <th class="owners__cell">
      ADDED ON
    </th>
    <th class="owners__cell">
      ADDED BY
    </th>
    <th class="owners__cell">
      ACTION
    </th>
  </tr>

  <% @ownerships.each do |ownership| %>
    <tr class="owners__row">
      <td class="owners__cell" data-title="Name">
        <%= link_to(ownership.user.name, profile_path(ownership.user), class: "owner_profile") %>
      </td>
      <td class="owners__cell" data-title="MFA">
        <%= ownership.user.mfa_level == "disabled" ? "✗" : "✔" %>
      </td>
      <td class="owners__cell" data-title="Confirmed">
        <%= ownership.confirmed? ? "✔" : "✗" %>
      </td>
      <td class="owners__cell" data-title="Added On">
        <%= nice_date_for(ownership.confirmed_at) if ownership.confirmed? %>
      </td>
      <td class="owners__cell" data-title="Added By">
        <%= ownership.authorizer.name %>
      </td>
      <td class="owners__cell" data-title="Action">
        <%= button_to "Remove", rubygem_owner_path(@rubygem, ownership), :method => 'delete', :class => 'remove__owners__button' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
