<% @title = t('.title') %>

<%= form_for @ownership, :url => {:controller => 'owners', :action => 'update'} do |form| %>
  <%= error_messages_for(@ownership) %>

  <div class="text_field">
    <%= form.label :display_id, "User", :class => 'form__label' %>
    <%= form.text_field :display_id, value: @ownership.user.display_id, disabled: true, :class => 'form__input' %>
  </div>

  <div class="text_field">
    <%= form.label :access_level, :class => 'form__label' %>
    <br/>
    <%= form.select :access_level, Access.options.to_a  %>
  </div>

  <div class="submit_field">
    <%= form.submit 'Update', :data => {:disable_with => t('form_disable_with')}, :class => 'form__submit' %>
  </div>
<% end %>
