<% @title = t('.title', rubygem: @rubygem.name) %>
<% @roles = Ownership.roles.map { |k,_| [Ownership.human_attribute_name("role.#{k}"), k] } %>

<% add_breadcrumb @rubygem.name, rubygem_path(@rubygem.slug) %>
<% add_breadcrumb t("owners.index.title"), rubygem_owners_path(@rubygem.slug) %>
<% add_breadcrumb @title %>

<%
    label_class = "block text-b2 font-semibold text-neutral-800 dark:text-neutral-200 mb-2"
    field_class = "block w-full rounded border border-neutral-300 dark:border-neutral-600 " \
      "bg-white dark:bg-neutral-900 text-neutral-900 dark:text-white px-4 h-12 " \
      "rounded-lg transition" \
      "outline-none focus:border-orange-500 focus:ring-2 focus:ring-orange-500"
%>
<div class="flex items-center justify-center">
  <div class="w-full">
    <h1 class="text-h2 mb-8"><%= @rubygem.name %></h1>

    <%= render CardComponent.new do |c| %>
      <%= c.head(class: "border-b border-neutral-200 dark:border-neutral-800") do %>
        <%= c.section_title @title, icon: "gems" %>
      <% end %>


      <%= form_tag rubygem_owner_path(rubygem_id: @rubygem.slug, owner_id: @ownership.user.display_id), method: :patch do |form| %>
        <%= error_messages_for(@ownership, class: "mb-6 p-4 border border-red-300 dark:border-red-700 bg-red-50 dark:bg-red-950 rounded-lg text-red-700 dark:text-red-400 text-sm") %>

        <div class="py-4">
          <%= label_tag :display_id, t(".user"), class: label_class %>
          <%= text_field_tag :display_id, @ownership.user.display_id, disabled: true, class: field_class %>
        </div>

        <div class="pb-8">
          <%= label_tag :role, t(".role"), class: label_class %>
          <%= select_tag :role, options_for_select(@roles, @ownership.role), class: field_class %>
        </div>

        <div>
          <%= render ButtonComponent.new(t(".submit_button"), type: :submit, color: :primary) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
