<% @title = @rubygem.name %>

<div class="l-overflow">
  <div class="l-colspan--l colspan--l--has-border">

    <div class="t-body">
      <%= link_to "Back", rubygem_path(@rubygem), class: "t-link--arrow t-link--arrow-left" %>
    </div>

    <div class="owners__intro">
      <%= t("owners.index.info", gem: @rubygem.name) %>
    </div>

    <%= render "owners_table" %>
  </div>

  <div class="gem__aside l-col--r--pad">
    <div class="t-body">
      <h2><%= t("owners.index.add_owner") %></h2>
    </div>
    <%= form_tag url: rubygem_owners_path, method: :post, html: { class: "new_ownership", id: "new_ownership" } do %>
      <div class="text_field">
        <%= label_tag :owner, "Email / Handle", class: "form__label" %>
        <%= text_field_tag :owner, nil, class: "form__input", required: true %>
      </div>
      <div class="submit_field">
        <%= submit_tag "Add Owner", data: {disable_with: t("form_disable_with")}, class: "form__submit" %>
      </div>
    <% end %>
  </div>
</div>