<% @title = t('.title') %>

<h1 class="text-xl font-semibold text-neutral-900 dark:text-white mb-6"><%= t('.title') %></h1>

<div>
  <div>
    <%= @qrcode_svg %>
  </div>
  <div>
    <p><%= t('.scan_prompt') %></p>
    <p>
      <span><%= t('.account', account: "#{issuer}:#{current_user.email}") %></span><br>
      <span id="otp-key"><%= t('.key', key: @seed.chars.each_slice(4).map(&:join).join(' ')) %></span><br>
      <span><%= t('.time_based') %></span>
    </p>
  </div>
</div>

<%= form_tag totp_path, method: :post do %>
  <div>
    <%= label_tag :otp, 'OTP code' %>
    <p><%= t '.otp_prompt' %></p>
    <%= text_field_tag :otp, '', autocomplete: 'one-time-code' %>
  </div>
  <%= submit_tag t('.enable') %>
<% end %>
