<% if dependencies.key?(scope) %>
  <div id="<%= gem_name+scope %>"><span class="scope <%= "scope--expanded" if scope == "runtime" %>"><%= scope.titlecase %> :</span>
  <div class="deps_scope <%= "deps_toggle" if scope == "development" %>">
  <% dependencies[scope].each do |name,version,req| %>
    <ul class="deps">
      <li>
        <span>
          <span class="deps_expanded deps_expanded-link" data-gem_id="<%= name %>" data-version="<%= version %>"></span>
        </span>
        <a target="_blank" href="/gems/<%= name %>/versions/<%= version %>">
          <span class="deps_item"><%= name %> <%= version %>
          <span class='deps_item--details'> <%= req %></span></span>
        </a>

        <div><div class="deps_scope"></div></div>
        <div><div class="deps_scope"></div></div>
      </li>
    </ul>
  <% end %>
</div>
</div>
<% end %>
