<% @title = t(".api_key_role_name", name: @api_key_role.name) %>
<% add_breadcrumb(t("breadcrumbs.settings"), edit_settings_path) %>
<% add_breadcrumb(t("oidc.api_key_roles.index.api_key_roles"), profile_oidc_api_key_roles_path) %>
<% add_breadcrumb(@title) %>

<% content_for :subject do %>
  <%= render "dashboards/subject", user: current_user, current: :profile %>
<% end %>

<% heading = "text-sm text-neutral-600 dark:text-neutral-400 uppercase tracking-wide" %>

<%= render CardComponent.new do |c| %>
  <%= c.head do %>
    <%= c.title @title, icon: "settings" %>
  <% end %>
  <% if @api_key_role.github_actions_push? && !@api_key_role.deleted_at? %>
    <div class="py-4">
      <%= render ButtonComponent.new(
        "#{t(".automate_gh_actions_publishing")} →",
        github_actions_workflow_profile_oidc_api_key_role_path(@api_key_role.token),
        method: "get") %>
    </div>
  <% end %>
  <% if @api_key_role.deleted_at? %>
    <h2 class="text-lg font-semibold mb-8">
      <%= t(".deleted_at_html", time_html: time_tag(@api_key_role.deleted_at, time_ago_in_words(@api_key_role.deleted_at))) %>
    </h2>
  <% end %>

  <h3 class="<%= heading %>"><%= OIDC::ApiKeyRole.human_attribute_name(:token) %></h3>
  <div class="mt-1 mb-6">
    <code><%= @api_key_role.token %></code>
  </div>

  <h3 class="<%= heading %>"><%= OIDC::ApiKeyRole.human_attribute_name(:provider) %></h3>
  <div class="mt-1 mb-6">
    <%= render ButtonComponent.new(
      "#{t(".view_provider", issuer: @api_key_role.provider.issuer)} →",
      profile_oidc_provider_path(@api_key_role.provider)) %>
  </div>

  <h3 class="<%= heading %>"><%= OIDC::ApiKeyRole.human_attribute_name(:api_key_permissions) %></h3>
  <div class="mt-1 mb-6">
    <%= render partial: "oidc/api_key_permissions/api_key_permissions", object: @api_key_role.api_key_permissions %>
  </div>

  <h3 class="<%= heading %>"><%= OIDC::ApiKeyRole.human_attribute_name(:access_policy) %></h3>
  <div class="mt-1 mb-6">
    <%= render partial: "oidc/access_policies/access_policy", object: @api_key_role.access_policy %>
  </div>

  <% unless @api_key_role.deleted_at? %>
    <div class="flex flex-wrap gap-4 mb-6">
      <%= render ButtonComponent.new(
        t(".edit_role"),
        edit_profile_oidc_api_key_role_path(@api_key_role.token),
        method: "get",
        color: :secondary) %>
      <%= render ButtonComponent.new(
        t(".delete_role"),
        profile_oidc_api_key_role_path(@api_key_role.token),
        method: :delete,
        color: :red,
        data: { confirm: t(".confirm_delete") }) %>
    </div>
  <% end %>

  <h3 class="<%= heading %>"><%= OIDC::ApiKeyRole.human_attribute_name(:id_tokens) %></h3>
  <div class="mt-1">
    <header class="flex items-center py-4">
      <p class="text-sm text-neutral-600 dark:text-neutral-400 uppercase tracking-wide">
      <%= page_entries_info(@id_tokens) %>
      </p>
    </header>
    <% if @id_tokens.present? %>
      <%= render OIDC::IdToken::TableComponent.new(id_tokens: @id_tokens) %>
    <% end %>
  </div>
<% end %>
