<% content_for :subject do %>
  <%= render "organizations/subject", organization: @organization, current: :members %>
<% end %>

<% @roles = Membership.roles.map { |k,_| [Membership.human_attribute_name("role.#{k}"), k] } %>

<h1 class="text-h2 mb-10"><%= t("layouts.application.header.members") %></h1>

<%= render CardComponent.new do |c| %>
  <%= c.head do %>
    <%= c.title @membership.user.handle, icon: "user" %>
  <% end %>

  <%= form_with(url: organization_membership_path(@organization, @membership), method: :patch) do |f| %>

    <div class="text_field">
    <%= label_tag :role, t(".role"), class: 'form__label' %>
    <br>
    <%= select_tag :role, options_for_select(@roles, @membership.role), class: "form__input form__select"  %>
    </div>

    <%= render ButtonComponent.new t(".update"), type: :submit, style: :outline %>
  <% end %>

  <hr/>

  <%= form_with(url: organization_membership_path(@organization, @membership), method: :delete) do |f| %>
    <%= render ButtonComponent.new t(".destroy"), type: :submit, style: :outline %>
  <% end %>
<% end %>