<% @title = t('.title', name: @rubygem.name) %>
<% @subtitle = t('.subtitle', name: @rubygem.name) %>

<div class="l-overflow">
  <div class="l-colspan--l colspan--l--has-border">
    <% if @reverse_dependencies.present? %>
      <%= render CardComponent.new do |c| %>
        <%= c.head do %>
          <%= c.title t('.title', name: @rubygem.name), icon: "gems" %>
        <% end %>

        <div class="mb-6">
          <%= render "search", rubygem: @rubygem %>
        </div>

        <% @reverse_dependencies.each do |rubygem| %>
          <%= render RubygemComponent.new(rubygem:) %>
        <% end %>

        <%= plain_paginate @reverse_dependencies %>
      <% end %>
    <% else %>
      <p class="text-b2 text-neutral-600 dark:text-neutral-400"><%= t(".no_reverse_dependencies") %></p>
    <% end %>
  </div>

  <%= render 'rubygems/aside' %>
</div>
