<%= form.error_messages %>
<div class="text_field">
  <%= form.label :email %>
  <%= form.email_field :email, :style => "width: 669px" %>
</div>
<div class="text_field">
  <%= form.label :handle %>
  <%= form.text_field :handle, :style => "width: 669px" %>
</div>
<div class="password_field">
  <%= form.label :password %>
  <%= form.password_field :password, :style => "width: 669px" %>
</div>
