<%= form.error_messages %>

<div class="text_field">
  <%= form.label :email, :class => 'form__label' %>
  <%= form.email_field :email, :class => 'form__input' %>
</div>
<div class="text_field">
  <%= form.label :email_confirmation, :class => 'form__label' %>
  <%= form.email_field :email_confirmation, :class => 'form__input' %>
</div>
<div class="text_field">
  <%= form.label :handle, :class => 'form__label' %>
  <%= form.text_field :handle, :class => 'form__input' %>
</div>
<div class="password_field">
  <%= form.label :password, :class => 'form__label' %>
  <%= form.password_field :password, :class => 'form__input' %>
</div>
