<%= form.error_messages %>
<div class="text_field">
  <%= form.label :email %>
  <%= form.text_field :email, :size => 25 %>
</div>
<div class="text_field">
  <%= form.label :handle %>
  <%= form.text_field :handle, :size => 25 %>
</div>
<div class="password_field">
  <%= form.label :password %>
  <%= form.password_field :password, :size => 25 %>
</div>
<div class="password_field">
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation, :size => 25 %>
</div>
