<% @title = "Transfer Gems" %>

<%= render "rubygems/transfer/progress", current_step: 4 %>

<h2 class="text-h4 mb-10">Finalize</h2>

<p class="mb-10">Review the summary and confirm everything looks good.</p>

<div class="mt-10">
  <%= render "rubygems/transfer/summary", current_step: 4 %>
</div>

<%= form_with(model: @rubygem_transfer, url: confirm_transfer_rubygems_path, method: :patch) do |form| %>
  <%= render "rubygems/transfer/error", transfer: @rubygem_transfer if @rubygem_transfer.errors.any? %>
  <div class="flex border-t border-neutral-400 lg:-mx-10 lg:px-10 pt-10 mt-10 justify-between">
    <%= render ButtonComponent.new("Back", users_transfer_rubygems_path, type: :link, color: :neutral, style: :outline) %>
    <%= render ButtonComponent.new("Transfer Gems", type: :submit, style: :fill) %>
  </div>
<% end %>
