<% @title = t("adoptions.show.adoptions") %>

<header class="gems__header">
  <p class="gems__meter">
    <%= page_entries_info @adoptions, entry_name: 'adoptions'%>
  </p>
</header>

<% for adoption in @adoptions do %>
  <%= link_to rubygem_adoption_path(adoption.rubygem), class: 'gems__gem' do %>
    <span class="gems__gem__info">
      <h2 class="gems__gem__name">
        <%= adoption.rubygem.name %>
        <span class="gems__gem__version"><%= time_ago_in_words(adoption.created_at) %> ago</span>
      </h2>
      <p class="gems__gem__desc t-text"><%= adoption.note.strip.truncate(90) %></p>
    </span>
    <p class="gems__gem__downloads__count">
      <%= download_count adoption.rubygem %>
      <span class="gems__gem__downloads__heading">
        <%= t('rubygems.index.downloads') %>
      </span>
    </p>
  <% end %>
<% end %>

<%= paginate @adoptions %>

