<% @title = 'Adoptions' %>
<% @subtitle = @rubygem.name %>

<div class="l-overflow">
  <div class="l-colspan--l">
    <% if @seeked_adoption %>
      <%= render partial: "show", locals: { adoption: @seeked_adoption } %>
    <% elsif @rubygem.owned_by?(current_user) %>
      <%= render partial: "create", locals: { status: "seeked", button_text: "Seek" } %>

      <% unless @requested_adoptions.empty? %>
        <h3 class="t-list__heading">Requested adoptions :</h3>
        <div class="gem__intro">
          <% for adoption in @requested_adoptions do %>
            <%= render partial: "show", locals: { adoption: adoption } %>
            <%= render partial: "update", locals: { status: "approved", button_text: "Approve", adoption: adoption } %>
          <% end %>
        </div>
      <% end %>
    <% elsif @user_adoption %>
      <div class="gem__intro">
        <div id="markup" class="gem__desc">
          <%= simple_markup(@user_adoption.note) %>
        </div>
        <%= render partial: "update", locals: { status: "canceled", button_text: "Cancel", adoption: @user_adoption } %>
      </div>
    <% elsif signed_in? %>
      <div class="t-body gem__intro">
        <p>Owners of <%= @rubygem.name %> are not looking for maintainers. You can still request an adoption if
        you feel gem namespace could be of greater service with your ownership and you can convince
        existing owner(s) of the gem of the same.
        We will notify owners of <%= @rubygem.name %> with your adoption note, you can fill below.
        </p>
      </div>
      <%= render partial: "create", locals: { status: "requested", button_text: "Request" } %>
    <% else %>
      <div class="t-body gem__intro">
        <p>Owners of <%= @rubygem.name %> are not looking for maintainers. You can still request an adoption if
        you feel gem namespace could be of greater service with your ownership and you can convince
        existing owner(s) of the gem of the same.
        We will notify owners of <%= @rubygem.name %> with your adoption note, you can fill below.
        </p>
      </div>
      <div class="t-body">
        <%= link_to t('.header.sign_in'), sign_in_path, class: "gem__link t-list__item" %>
      </div>
    <% end %>
  </div>
</div>
