<% @title = t(".adoptions") %>
<% @subtitle = @rubygem.name %>

<div class="l-overflow">
  <div class="l-colspan--l">
    <% if @opened_adoption %>
      <%= render layout: "adoptions", locals: { adoptions: [@opened_adoption] } do |adoption| %>
        <%= link_to(adoption.user.display_handle, profile_path(adoption.user.display_id), class: "t-link--black") %>
      <% end %>
    <% elsif @rubygem.owned_by?(current_user) %>
      <%= render partial: "create", locals: { status: "opened", button_text: t(".open") } %>
    <% else %>
      <%= render "default" %>
    <% end %>

    <% if @rubygem.owned_by? current_user %>
      <%= render layout: "adoptions", locals: { adoptions: @rubygem.adoptions.requested, heading: t(".adoption_requests") } do |adoption| %>
        <%= link_to(adoption.user.display_handle, profile_path(adoption.user.display_id), class: "t-link--black") %>
      <% end %>
    <% else %>
      <%= render partial: "request", locals: { adoption: @user_requested_adoption } %>
    <% end %>
  </div>
</div>
