<div class="learn">
  <h3><%= t '.learn.header' %></h3>
  <dl>
    <dt><%= link_to t('.learn.install_rubygems', :version => RUBYGEMS_VERSION), page_url("download") %></dt>
    <dd><%= t '.learn.rubygems_subtitle' %></dd>
    <dt><%= link_to t('.learn.browse_docs'), "http://guides.rubygems.org/" %></dt>
    <dd><%= t '.learn.docs_subtitle' %></dd>
    <dt><%= link_to t('.learn.gem_specification'), "http://guides.rubygems.org/specification-reference/" %></dt>
    <dd><%= t '.learn.spec_subtitle' %></dd>
  </dl>
</div>
