<div class="home">
  <div class="home__images">
    <div class="home__image--ghost"></div>
    <div class="home__image"></div>
  </div>
  <h1 class="home__heading"><%= t '.find_blurb' %></h1>
  <div class="home__cta-wrap">
    <form>
      <label class="home__search__icon" data-icon="⌕" for="home__search">
        <span class="t-hidden">Search gems</span>
      </label>
      <input class="home__search" id="home__search" name="home__search" placeholder="Search Gems..." type="search">
    </form>
    <h2 class="home__downloads">
      <% unless Rails.env.recovery? %>
        <p><%= number_with_delimiter(@downloads_count) %></p>
      <% end %>
      <span class="home__downloads__desc">downloads &amp; counting</span>
    </h2>
    <%= link_to t('.learn.install_rubygems', :version => @version), page_url("download"), :class => "home__join", "data-icon" => ">" %>
  </div>
  <div class="home__links">
    <%= link_to t('.footer.status'), "http://status.rubygems.org", class: "home__link", "data-icon" => "⌁" %>
    <%= link_to t('.footer.uptime'), "http://uptime.rubygems.org", class: "home__link", "data-icon" => "⧖" %>
  </div>
</div>
