<% content_for :fold do %>
  <%= render partial: 'count' %>
  <%= render partial: 'blurb' %>
<% end %>

<div class="border">
  <div class="background">
    <%= render partial: 'learn' %>
    <%= render partial: 'share' %>
  </div>
</div>

<p class="pitch">
  <%= t('.pitch.content',
        :rubygems => content_tag(:strong, link_to(t(:title), page_url('about'))),
        :publish => content_tag(:strong, link_to(t('.pitch.publish'), "http://guides.rubygems.org/make-your-own-gem", :anchor => 'push')),
        :api => content_tag(:strong, link_to(t('.pitch.api'), "http://guides.rubygems.org/rubygems-org-api/")),
        :contribute => content_tag(:strong, link_to(t('.pitch.contribute'), "http://github.com/rubygems/rubygems.org"))).html_safe %>
</p>

<div class="leaderboards">
  <%= render partial: 'newgems' %>
  <%= render partial: 'mostdownloaded' %>
  <%= render partial: 'justupdated' %>
</div>
