<div class="home">
  <div class="home__images">
    <div class="home__image--ghost"></div>
    <div class="home__image"></div>
  </div>
  <h1 class="home__heading"><%= t '.find_blurb' %></h1>
  <div class="home__cta-wrap">
    <%= form_tag search_url, :id => "main-search", :method => :get do %>
      <%= search_field_tag :query, params[:query], :placeholder => "Search Gems&hellip;".html_safe, autofocus: current_page?(root_url), :class => "home__search" %>
      <%= label_tag :query do %>
        <span class="t-hidden">Search gems</span>
      <% end %>
      <%= submit_tag '⌕', :id => 'search_submit', :name => nil, :class => "home__search__icon" %>
    <% end %>
    <h2 class="home__downloads">
      <% unless Rails.env.recovery? %>
        <p><%= number_with_delimiter(@downloads_count) %></p>
      <% end %>
      <span class="home__downloads__desc">downloads &amp; counting</span>
    </h2>
    <%= link_to t('.learn.install_rubygems'), page_url("download"), :class => "home__join", "data-icon" => ">" %>
  </div>
  <div class="home__links">
    <%= link_to t('.footer.status'), "http://status.rubygems.org", class: "home__link", "data-icon" => "⌁" %>
    <%= link_to t('.footer.uptime'), "http://uptime.rubygems.org", class: "home__link", "data-icon" => "⧖" %>
  </div>
</div>
