.started.grid_8
  %ul
    %li.red
      %span ready:
      %code gem install gemcutter
    %li.yellow
      %span set:
      %code gem upgrade
    %li.green
      %span go:
      %code gem push yourgem-0.0.1.gem
.grid_4
  .count= number_with_delimiter(@count)
  .what gems indexed since may 2009
.clear
.list.grid_4
  %h3 Updated Gems
  %ul
    -@updated.each do |version|
      %li= link_to "#{version.rubygem.name} (#{version})", version.rubygem
.list.grid_4
  %h3 New Gems
  %ul
    -@new.each do |gem|
      %li= link_to gem, gem
.list.grid_4
  %h3 Most Downloads
  %ul
    -@downloaded.each do |gem|
      %li= link_to gem.with_downloads, gem
