<%= link_to rubygem_version_path(version.rubygem, version.slug), class: 'gems__gem' do %>
  <span class="gems__gem__info">
    <h2 class="gems__gem__name">
      <%= version.rubygem.name %>
      <span class="gems__gem__version"><%= version.number %></span>
    </h2>
    <p class="gems__gem__desc t-text"><%= short_info(version.rubygem) %></p>
  </span>
  <p class="gems__gem__downloads__count">
    <small class="gem__version__date"><%= nice_date_for(version.created_at) %></small>
  </p>
<% end %>
