<% @title ||= "New Releases — All" %>

<div class="news__nav-links">
  <%= link_to "All Gems", news_url, class: "news__nav-link #{active?(news_path)}" %>
  <%= link_to "Popular Gems", popular_news_url, class: "news__nav-link #{active?(popular_news_path)}" %>
</div>

<header class="gems__header">
  <p class="gems__meter"><%= page_entries_info @releases, model: 'gem' %></p>
</header>

<%= render partial: "rubygems/rubygem", collection: @releases %>
<%= will_paginate @releases %>
