<% @title = t(".title") %>

<div class="t-body">
  <h2><%= t ".mfa.multifactor_auth" %></h2>
  <% if @user.mfa_enabled? %>
    <p><%= t(".mfa.enabled").html_safe %></p>
    <%= form_tag multifactor_auth_path, method: :put, id: "mfa-edit" do %>
      <%= label_tag :level, t(".mfa.level.title"), class: "form__label" %>
      <%= select_tag :level, options_for_select([
        [t(".mfa.level.ui_and_api"), "ui_and_api"],
        [t(".mfa.level.ui_and_gem_signin"), "ui_and_gem_signin"],
        [t(".mfa.level.ui_only"), "ui_only"],
        [t(".mfa.level.disabled"), "disabled"]], @user.mfa_level), class: "form__input form__select" %>
      <div class="text_field">
        <%= label_tag :otp, "OTP code", class: "form__label" %>
        <%= text_field_tag :otp, "", class: "form__input", autocomplete: :off %>
      </div>
      <%= submit_tag t(".mfa.update"), class: "form__submit" %>
    <% end %>
  <% else %>
    <p>
      <%= t(".mfa.disabled").html_safe %>
      <%= button_to t(".mfa.go_settings"), new_multifactor_auth_path, method: "get", class: "form__submit" %>
    </p>
  <% end %>
</div>

<div class="t-body">
  <h2><%= link_to t('.reset_password.title'), new_password_path %></h2>
</div>

<div class="t-body">
  <h2><%= link_to t('.api_keys'), profile_api_keys_path %></h2>
</div>

<% if @user.ownerships.any? %>
  <div class="t-body">
    <h2><%= link_to t("notifiers.show.title"), notifier_path %></h2>
  </div>
<% end %>
