<%
  label_class = "block text-b2 font-semibold mb-2"
  input_class = "w-full text-b2 rounded-lg dark:bg-neutral-950 focus:ring-inset focus:ring-1 focus:ring-orange-500"
%>
<div class="form__nested_fields rounded-lg border border-neutral-200 dark:border-neutral-800 p-4 mt-4" id="<%= f.field_id :wrapper %>">
  <div class="flex flex-col sm:flex-row sm:items-end gap-4">
    <div class="flex-1">
      <%= f.label :claim, class: label_class %>
      <%= f.text_field :claim, list: f.field_id(:claims_supported), class: input_class, autocomplete: :off %>
      <%= content_tag(:datalist, id: f.field_id(:claims_supported)) do %>
        <% if claims_supported = @api_key_role&.provider&.configuration&.claims_supported.presence %>
          <%= options_from_collection_for_select(claims_supported, :to_s, :to_s) %>
        <% end %>
      <% end %>
    </div>
    <div class="flex-1">
      <%= f.label :operator, class: label_class %>
      <%= f.collection_select :operator, f.object.class::OPERATORS, :to_s, :titleize, {}, class: input_class %>
    </div>
    <div class="flex-1">
      <%= f.label :value, class: label_class %>
      <%= f.text_field :value, class: input_class, autocomplete: :off %>
    </div>
    <%= render ButtonComponent.new(t("oidc.api_key_roles.form.remove_condition"), type: :button, size: :small, color: :red, style: :outline, class: "form__remove_nested_button") %>
  </div>
</div>
