<% @title = t('.title') %>

<div class="l-colspan t-body">
  <p><%= t '.purpose.header', :site => t('title') %></p>
  <ol class="t-numbered-items">
    <li class="t-numbered-item"><%= t '.purpose.better_api' %></li>
    <li class="t-numbered-item"><%= t '.purpose.transparent_pages' %></li>
    <li class="t-numbered-item"><%= t '.purpose.enable_community' %></li>
  </ol>
  <p>
    <%= t('.founding', :founder => link_to('Nick Quaranto', 'https://twitter.com/qrush'),
                       :contributors => link_to("115 Rubyists", "https://github.com/rubygems/rubygems.org/graphs/contributors"),
                       :downloads => link_to("millions of gem downloads", stats_url),
                       :title => t('title')).html_safe %>
  </p>
  <p>
    <%= t('.support', :dockyard => link_to("DockYard", "https://www.dockyard.com/"),
                      :github => link_to("GitHub", "https://github.com"),
                      :heroku => link_to("Heroku", "https://heroku.com")).html_safe %>
  </p>
  <p>
    <%= t('.technical', :rails => link_to("Rails", "http://rubyonrails.org"),
                        :sinatra => link_to("Sinatra", "http://www.sinatrarb.com"),
                        :s3 => link_to("Amazon S3", "https://aws.amazon.com/s3/"),
                        :source_code => link_to("please check out the code", "https://github.com/rubygems/rubygems.org"),
                        :license => link_to("MIT licensed", "http://www.opensource.org/licenses/mit-license.php")
                        ).html_safe %>
  </p>

  <div class="hide-assets">
    <h2 class="about__assets__heading">Want to get your hands on our assets?</h2>
    <p>Just select the download button and you&rsquo;ll get three .PNGs and an .SVG of the RubyGems logo all for yourself.</p>
    <div class="about__assets-wrap">
      <div class="about__assets">
        <svg class="about__asset" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" enable-background="new 0 0 200 200"><g fill="#ffffff"><path d="M68.8 69.9l-.1-.1-22.2 22.2 53.9 53.8 22.2-22.1 31.7-31.7-22.2-22.2v-.1h-63.4zM100.2 10.6l-78.5 45v90l78.5 45 78.5-45v-90l-78.5-45zm63.5 126.4l-63.5 36.6-63.5-36.6v-73l63.5-36.6 63.5 36.6v73z"/></g></svg>
        <svg class="about__asset" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" enable-background="new 0 0 200 200"><g fill="#141c22"><path d="M68.8 69.9l-.1-.1-22.2 22.2 53.9 53.8 22.2-22.1 31.7-31.7-22.2-22.2v-.1h-63.4zM100.2 10.6l-78.5 45v90l78.5 45 78.5-45v-90l-78.5-45zm63.5 126.4l-63.5 36.6-63.5-36.6v-73l63.5-36.6 63.5 36.6v73z"/></g></svg>
        <svg class="about__asset" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" enable-background="new 0 0 200 200"><g fill="#e9573f"><path d="M68.8 69.9l-.1-.1-22.2 22.2 53.9 53.8 22.2-22.1 31.7-31.7-22.2-22.2v-.1h-63.4zM100.2 10.6l-78.5 45v90l78.5 45 78.5-45v-90l-78.5-45zm63.5 126.4l-63.5 36.6-63.5-36.6v-73l63.5-36.6 63.5 36.6v73z"/></g></svg>
      </div>
      <a href="/logos.zip" download="RubyGems Assets" class="about__assets__download" data-icon=">">Download</a>
    </div>
  </div>
</div>
