<% @title = t('.title') %>

<%= prose do %>
  <p><%= t '.purpose.header', :site => t('title') %></p>
  <ol class="list-decimal">
    <li><%= t '.purpose.better_api' %></li>
    <li><%= t '.purpose.transparent_pages' %></li>
    <li><%= t '.purpose.enable_community' %></li>
  </ol>
  <p>
    <%= t('.founding_html', :founder => link_to('Nick Quaranto', 'https://twitter.com/qrush'),
                            :contributors => link_to(t('.contributors_amount', count: 350), "https://github.com/rubygems/rubygems.org/graphs/contributors"),
                            :downloads => link_to(t('.downloads_amount'), stats_path),
                            :title => t('title')) %>
  </p>
  <p>
    <%= t('.support_html', :dockyard => link_to("DockYard", "https://www.dockyard.com/"),
                           :github => link_to("GitHub", "https://github.com"),
                           :heroku => link_to("Heroku", "https://heroku.com"),
                           :aws => link_to("AWS", "https://aws.amazon.com")) %>
  </p>
  <p>
    <%= t('.technical_html', :rails => link_to("Rails", "https://rubyonrails.org"),
                             :s3 => link_to("Amazon S3", "https://aws.amazon.com/s3/"),
                             :fastly => link_to("Fastly", "https://www.fastly.com"),
                             :source_code => link_to(t('.checkout_code'), "https://github.com/rubygems/rubygems.org"),
                             :license => link_to(t('.mit_licensed'), "https://www.opensource.org/licenses/mit-license.php")
                             ) %>
  </p>

  <h2 class="about__assets__heading"><%= t('.logo_header') %></h2>
  <p><%= t('.logo_details') %></p>
  <div class="about__assets-wrap">
    <%= render ButtonComponent.new t('rubygems.aside.links.download'), "/logos.zip", type: :link %>
  </div>
<% end %>
