<% @title = t('.title') %>

<div class="l-colspan t-body">
  <p><%= t '.purpose.header', :site => t('title') %></p>
  <ol class="t-numbered-items">
    <li class="t-numbered-item"><%= t '.purpose.better_api' %></li>
    <li class="t-numbered-item"><%= t '.purpose.transparent_pages' %></li>
    <li class="t-numbered-item"><%= t '.purpose.enable_community' %></li>
  </ol>
  <p>
    <%= t('.founding', :founder => link_to('Nick Quaranto', 'http://twitter.com/qrush'),
                       :contributors => link_to("115 Rubyists", "https://github.com/rubygems/rubygems.org/graphs/contributors"),
                       :downloads => link_to("millions of gem downloads", stats_url),
                       :title => t('title')).html_safe %>
  </p>
  <p>
    <%= t('.support', :thoughtbot => link_to("Thoughtbot", "http://thoughtbot.com"),
                      :github => link_to("GitHub", "http://github.com"),
                      :heroku => link_to("Heroku", "http://heroku.com")).html_safe %>
  </p>
  <p>
    <%= t('.technical', :rails => link_to("Rails", "http://rubyonrails.org"),
                        :sinatra => link_to("Sinatra", "http://www.sinatrarb.com"),
                        :s3 => link_to("Amazon S3", "http://aws.amazon.com/s3/"),
                        :source_code => link_to("please check out the code", "http://github.com/rubygems/rubygems.org"),
                        :license => link_to("MIT licensed", "http://www.opensource.org/licenses/mit-license.php")
                        ).html_safe %>
  </p>
</div>
