<% @title = "About" %>
<% @subtitle = "what this is" %>
<p>
  Welcome to Gemcutter, the Ruby community's new way to host gems. The purpose of this project is three-fold:
</p>
  <ol>
    <li>* Provide a better API for dealing with gems</li>
    <li>* Create more transparent and accessible project pages</li>
    <li>* Enable the community to improve and enhance the site</li>
  </ol>
<p>
  The project was started in April 2009 by Nick Quaranto, and has since grown to include the contributions of over 15 Rubyists and thousands of gem downloads.
</p>
<p>
  Although Gemcutter is not run by one specific company, plenty have helped us out so far. The current design of the site was sponsored by <%= link_to "Thoughtbot", "http://thoughtbot.com" %>. The site itself is hosted on <%= link_to "Heroku", "http://heroku.com" %>, and they have donated resources for us to use. <%= link_to "GitHub", "http://github.com" %> has also been invaluable for helping us collaborate and share code easily.
</p>
<p>
Some insights into the technical aspects of the site: It's 100% Ruby. The main site is a <%= link_to "Rails", "http://rubyonrails.org" %> application, and the RubyGem serving is done through <%= link_to "Sinatra", "http://www.sinatrarb.com" %>. Gems are hosted on <%= link_to "Amazon S3", "http://aws.amazon.com/s3/" %>, and the time between publishing a new gem and having it ready for installation is minimal. For more info, <%= link_to "please check out the code", "http://github.com/qrush/gemcutter" %>, which is <%= link_to "MIT licensed", "http://www.opensource.org/licenses/mit-license.php" %> over at GitHub.
</p>
