<% @title = "API Docs" %>
<% @subtitle = "get your code on" %>
<p>
The API is a work in progress, and <%= link_to "can use your help!", "http://github.com/rubygems/gemcutter" %> RubyGems itself and <%= link_to "gemcutter gem", rubygem_url("gemcutter") %> uses the API to push gems, add owners, and more. Check out all of the gem commands <%= link_to "here", page_url("gem_docs") %>.
</p>

<h4>API Methods</h4>
<ul id="docs">
  <li><%= link_to "Gem Methods", "#gem" %>: Query or create rubygems to be hosted</li>
  <li><%= link_to "Owner Methods", "#owner" %>: Manage owners for gems</li>
  <li><%= link_to "Webhook Methods", "#webhook" %>: Manage notifications for when gems are pushed</li>
  <li><%= link_to "Misc Methods", "#misc" %>: Various other interactions with the site</li>
</ul>

<h4 id="gem">Gem Methods</h4>

<h5 class="api">GET - /api/v1/gems/[name].(json|xml)</h5>
<p>
  Returns some basic information about the given gem. For example, here's Rails:
  <pre><code>$ curl <%=t :url %>/api/v1/gems/rails.json

{
  "name": "rails",
  "info": "Rails is a framework for building web-application using CGI, FCGI, mod_ruby,
           or WEBrick on top of either MySQL, PostgreSQL, SQLite, DB2, SQL Server, or 
           Oracle with eRuby- or Builder-based templates.",
  "version": "2.3.5",
  "version_downloads": 2451,
  "authors": "David Heinemeier Hansson",
  "downloads": 134451,
  "project_uri": "<%=t :url %>/gems/rails",
  "gem_uri": "<%=t :url %>/gems/rails-2.3.5.gem",
  "homepage_uri": "http://www.rubyonrails.org/",
  "wiki_uri": "http://wiki.rubyonrails.org/",
  "documentation_uri": "http://api.rubyonrails.org/",
  "mailing_list_uri": "http://groups.google.com/group/rubyonrails-talk",
  "source_code_uri": "http://github.com/rails/rails",
  "bug_tracker_uri": "http://rails.lighthouseapp.com/projects/8994-ruby-on-rails",
  "dependencies": {
    "runtime": [
      {
        "name": "activesupport",
        "requirements": ">= 2.3.5"
      }
    ],
    "development": [ ]
  }
}

$ curl <%=t :url %>/api/v1/gems/rails.xml

&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;rubygem&gt;
  &lt;downloads type="integer"&gt;223423&lt;/downloads&gt;
  &lt;name&gt;rails&lt;/name&gt;
  &lt;info&gt;
    Rails is a framework for building web-application using CGI, FCGI, mod_ruby, or WEBrick
    on top of either MySQL, PostgreSQL, SQLite, DB2, SQL Server, or Oracle with eRuby- or Builder-based templates.
  &lt;/info&gt;
  &lt;gem-uri&gt;<%=t :url %>/gems/rails-2.3.5.gem&lt;/gem-uri&gt;
  &lt;project-uri&gt;<%=t :url %>/gems/rails&lt;/project-uri&gt;
  &lt;version&gt;2.3.5&lt;/version&gt;
  &lt;authors&gt;David Heinemeier Hansson&lt;/authors&gt;
  &lt;version-downloads type="integer"&gt;141363&lt;/version-downloads&gt;
  &lt;homepage-uri&gt;http://www.rubyonrails.org/&lt;/homepage-uri&gt;
  &lt;wiki-uri&gt;http://wiki.rubyonrails.org/&lt;/wiki-uri&gt;
  &lt;documentation-uri&gt;http://api.rubyonrails.org/&lt;/documentation-uri&gt;
  &lt;mailing-list-uri&gt;http://groups.google.com/group/rubyonrails-talk&lt;/mailing-list-uri&gt;
  &lt;source-code-uri&gt;http://github.com/rails/rails&lt;/source-code-uri&gt;
  &lt;bug-tracker-uri&gt;http://rails.lighthouseapp.com/projects/8994-ruby-on-rails&lt;/bug-tracker-uri&gt;
  &lt;dependencies&gt;
    &lt;development type="array"/&gt;
    &lt;runtime type="array"&gt;
      &lt;dependency&gt;
        &lt;name&gt;activesupport&lt;/name&gt;
        &lt;requirements&gt;&gt;= 2.3.5&lt;/requirements&gt;
      &lt;/dependency&gt;
    &lt;/runtime&gt;
  &lt;/dependencies&gt;
&lt;/rubygem&gt;</code></pre>
</p>

<h5 class="api">GET - /api/v1/search.(json|xml)?query=[YOUR QUERY]</h5>
<p>
   Submit a search to Gemcutter for active gems, just like a search query on the site. Returns an array of the XML or JSON representation of gems that match.
<pre><code>$ curl '<%=t :url %>/api/v1/search.json?query=cucumber'

$ curl '<%=t :url %>/api/v1/search.xml?query=cucumber'</code></pre>
</p>

<h5 class="api">GET - /api/v1/gems.(json|xml)</h5>
<p>
  List all gems that you own. Returns an array of the XML or JSON representation of gems you own.
<pre><code>$ curl -H 'Authorization:701243f217cdf23b1370c7b66b65ca97' \
          <%=t :url %>/api/v1/gems.json</code></pre>
</p>

<h5 class="api">POST - /api/v1/gems</h5>
<p>
  Submit a gem to RubyGems.org. Must have your API key supplied and give a built RubyGem in the body of the request.
<pre><code>$ curl --data-binary @gemcutter-0.2.1.gem \
       -H 'Authorization:701243f217cdf23b1370c7b66b65ca97' \
       <%=t :url %>/api/v1/gems

Successfully registered gem: gemcutter (0.2.1)</code></pre>
</p>

<h5 class="api">DELETE - /api/v1/gems/yank</h5>
<p>
  Remove a gem from RubyGems.org's index. Platform is optional.
<pre><code> $ curl -X DELETE -H 'Authorization:701243f217cdf23b1370c7b66b65ca97' \
        -d 'gem_name=bills' -d 'version=0.0.1' \
        -d 'platform=x86-darwin-10' \
        <%=t :url %>/api/v1/gems/yank

Successfully yanked gem: bills (0.0.1)</code></pre>
</p>

<h5 class="api">PUT - /api/v1/gems/unyank</h5>
<p>
  Update a previously yanked gem back into RubyGems.org's index. Platform is optional.
<pre><code> $ curl -X PUT -H 'Authorization:701243f217cdf23b1370c7b66b65ca97' \
        -d 'gem_name=bills' -d 'version=0.0.1' \
        -d 'platform=x86-darwin-10' \
        <%=t :url %>/api/v1/gems/unyank

Successfully unyanked gem: bills (0.0.1)</code></pre>
</p>

<h4 id="owner">Owner Methods</h4>

<h5 class="api">GET - /api/v1/gems/[rubygem name]/owners.json</h5>
<p>
  View all owners of a gem that you own. These users can all push to this gem.
<pre><code>$ curl -H 'Authorization:701243f217cdf23b1370c7b66b65ca97' \
       <%=t :url %>/api/v1/gems/gemcutter/owners.json

[
  {
    "email": "nick@gemcutter.org"
  },
  {
    "email": "ddollar@gmail.com"
  }
]
</code></pre>
</p>

<h5 class="api">POST - /api/v1/gems/[rubygem name]/owners</h5>
<p>
  Add an owner to a RubyGem you own, giving that user permission to manage it.
<pre><code>$ curl -H 'Authorization:701243f217cdf23b1370c7b66b65ca97' \
       -F 'email=josh@technicalpickles.com' \
       <%=t :url %>/api/v1/gems/gemcutter/owners

Owner added successfully.
</code></pre>
</p>

<h5 class="api">DELETE - /api/v1/gems/[rubygem name]/owners</h5>
<p>
  Remove a user's permission to manage a RubyGem you own.
<pre><code>$ curl -X DELETE -H 'Authorization:701243f217cdf23b1370c7b66b65ca97' \
        -d "email=josh@technicalpickles.com" \
        <%=t :url %>/api/v1/gems/gemcutter/owners

Owner removed successfully.
</code></pre>
</p>

<h4 id="webhook">WebHook Methods</h4>

<h5 class="api">GET - /api/v1/web_hooks.json</h5>
<p>
  List the webhooks registered under your account.
<pre><code>$ curl -H 'Authorization:701243f217cdf23b1370c7b66b65ca97' \
       <%=t :url %>/api/v1/web_hooks.json

{
  "all gems": [
    {
      "url": "http://gemwhisperer.heroku.com",
      "failure_count": 1
    }
  ]
  "rails": [
    {
      "url": "http://example.com",
      "failure_count": 0
    }
  ]
}
</code></pre>
</p>

<h5 class="api">POST - /api/v1/web_hooks</h5>
<p>
  Create a webhook. Requires two parameters: <code>gem_name</code> and <code>url</code>. Specify <code>*</code> for the <code>gem_name</code> parameter to apply the hook globally to all gems.
<pre><code>$ curl -H 'Authorization:701243f217cdf23b1370c7b66b65ca97' \
       -F 'gem_name=rails' -F 'url=http://example.com' \
       <%=t :url %>/api/v1/web_hooks

Successfully created webhook for rails to http://example.com

$ curl -H 'Authorization:701243f217cdf23b1370c7b66b65ca97' \
       -F 'gem_name=*' -F 'url=http://example.com' \
       <%=t :url %>/api/v1/web_hooks

Successfully created webhook for all gems to http://example.com</code></pre>
</p>

<h5 class="api">DELETE - /api/v1/web_hooks/remove</h5>
<p>
  Remove a webhook. Requires two parameters: <code>gem_name</code> and <code>url</code>. Specify <code>*</code> for the <code>gem_name</code> parameter to apply the hook globally to all gems.
<pre><code>$ curl -X DELETE -H 'Authorization:701243f217cdf23b1370c7b66b65ca97' \
       -d 'gem_name=rails' -d 'url=http://example.com' \
       <%=t :url %>/api/v1/web_hooks/remove

Successfully removed webhook for rails to http://example.com

$ curl -X DELETE -H 'Authorization:701243f217cdf23b1370c7b66b65ca97' \
       -d 'gem_name=*' -d 'url=http://example.com' \
       <%=t :url %>/api/v1/web_hooks/remove

Successfully removed webhook for all gems to http://example.com</code></pre>
</p>

<h5 class="api">POST - /api/v1/web_hooks/fire</h5>
<p>
Test fire a webhook. This can be used to test out an endpoint at any time, for example when you're developing your application. Requires two parameters: <code>gem_name</code> and <code>url</code>. Specify <code>*</code> for the <code>gem_name</code> parameter to apply the hook globally to all gems.
<pre><code>$ curl -H 'Authorization:701243f217cdf23b1370c7b66b65ca97' \
       -F 'gem_name=rails' -F 'url=http://example.com' \
       <%=t :url %>/api/v1/web_hooks/fire

Successfully deployed webhook for rails to http://example.com

$ curl -H 'Authorization:701243f217cdf23b1370c7b66b65ca97' \
       -F 'gem_name=*' -F 'url=http://example.com' \
       <%=t :url %>/api/v1/web_hooks/fire

Successfully deployed webhook for all gems to http://example.com</code></pre>
</p>

<h4 id="misc">Misc Methods</h4>

<h5 class="api">GET - /api/v1/api_key</h5>
<p>
  Retrieve your API key using HTTP basic auth.
<pre><code>$ curl -u "nick@gemcutter.org:schwwwwing" \
       <%=t :url %>/api/v1/api_key

701243f217cdf23b1370c7b66b65ca97
</code></pre>
</p>

<h5 class="api">GET - /api/v1/dependencies?gems=[comma delimited rubygems]</h5>
<p>
  Returns a marshalled array of hashes for all versions of given gems. Each hash
  contains a gem version with its dependencies making this useful for resolving dependencies.
<pre><code>
$ ruby -ropen-uri -rpp -e \
  'pp Marshal.load(open("<%= t :url %>/api/v1/dependencies?gems=rails,thor"))'

[{:platform=>"ruby",
  :dependencies=>
   [["bundler", "~> 1.0"],
    ["railties", "= 3.0.3"],
    ["actionmailer", "= 3.0.3"],
    ["activeresource", "= 3.0.3"],
    ["activerecord", "= 3.0.3"],
    ["actionpack", "= 3.0.3"],
    ["activesupport", "= 3.0.3"]],
  :name=>"rails",
  :number=>"3.0.3"},
...
{:number=>"0.9.9", :platform=>"ruby", :dependencies=>[], :name=>"thor"}]
</code></pre>
</p>
