<% @title = t('.title') %>
<% @subtitle = t('.subtitle') %>
<p>
  <strong><%= link_to t('.gem.title'), page_url("gem_docs") %></strong>
  <%= t '.gem.info' %>
</p>
<p>
  <strong><%= link_to t('.api.title'), page_url("api_docs") %></strong>
  <%= t '.api.info' %>
</p>
<p>
  <strong><%= link_to t('.rubygem.title'), "http://docs.rubygems.org" %></strong>
  <%= t '.rubygem.info' %>
</p>
<p>
  <%= t('.contribute', :fork_link => link_to(t('.fork_link_text'), "http://github.com/rubygems/gemcutter")).html_safe %>
</p>
