<% @title = t('.title') %>

<%= prose do %>
  <h2><%= @title %></h2>
  <% if (rubygems_version = Rubygem.current_rubygems_release) %>
    <h4><%= "v#{rubygems_version.number} - #{nice_date_for(rubygems_version.authored_at)}" %></h4>
  <% end %>
  <p>
    RubyGems is a package management framework for Ruby.
    <br>
    Upgrade to the latest RubyGems at the command line:
  </p>
  <pre><code>$ gem update --system</code></pre>
  <p>
    If you run into problems that prevent you from upgrading rubygems the standard way, you can try upgrading manually:
  </p>
  <ol class="manual">
    <li>Download the latest version</li>
    <li>Unpack and <code>cd</code> into the unpacked directory</li>
    <li>Install with:
    <pre><code>ruby setup.rb</code></pre>
    </li>
    <li>
      For more details and other options, run: <code>ruby setup.rb --help</code>
    </li>
  </ol>
  <h4>Download the latest version</h4>
  <div id="formats" class="flex flex-row space-x-6">
    <%= render ButtonComponent.new "tgz", "https://rubygems.org/rubygems/rubygems-#{rubygems_version}.tgz", type: :link %>
    <%= render ButtonComponent.new "zip", "https://rubygems.org/rubygems/rubygems-#{rubygems_version}.zip", type: :link %>
    <%= render ButtonComponent.new "gem", "https://rubygems.org/gems/rubygems-update-#{rubygems_version}.gem", type: :link %>
    <%= render ButtonComponent.new "git", "https://github.com/rubygems/rubygems", type: :link %>
  </div>
<% end %>
