<% @title = t('.title') %>

<div class="l-colspan t-body">
  <p><%= t '.header', :site => t('title') %></p>

  <h2><%= t('.rubygems.title') %></h2>
  <p><%= t('.rubygems.body').html_safe %></p>

  <h2><%= t('.your_security.title', :title => t('.title')) %></h2>
  <p><%= t('.your_security.body').html_safe %></p>

  <h2><%= t('.website.title', :site => t('title')) %></h2>
  <p><%= t('.website.body').html_safe %></p>

</div>
