<% @title = t('.title') %>

<%= prose do %>
  <h1>Support RubyGems.org</h1>
  <p>
    RubyGems.org is a critical part of the Ruby ecosystem, processing millions of downloads each day and enabling developers around the world to build with confidence. As a community-run service overseen by Ruby Central, a 501(c)(3) nonprofit, we rely on the support of individuals and organizations who believe in open source and want to keep RubyGems.org secure and reliable long-term. Specifically, we fund this service through generous support from RubyGems Supporters, Ruby Central’s Corporate Sponsorship Program, Ruby Central memberships, and Infrastructure Sponsors.
  </p>
  <p>
    The RubyGems Supporter Program is an easy way for you or your company to directly contribute to the maintenance, operations, and growth of RubyGems.org. You can find out more about this program <a href="https://rubycentral.org/open-source/">here</a>.
  </p>
  <div class="my-6">
    <%= render ButtonComponent.new("Become a Supporter", "https://rubycentral.org/open-source/#/portal/signup", type: :link, color: :primary, size: :large, style: :fill) %>
    <p class="text-sm text-neutral-600 dark:text-neutral-400 mt-3">
      <span class="inline-flex items-center">
        <svg class="w-4 h-4 mr-1 text-green-500" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
        </svg>
        Tax-deductible donation to Ruby Central (501c3)
      </span>
    </p>
  </div>
  <h2>RubyGems Supporters</h2>
  <h3>Supporter Plus</h3>
  <ul>
    <li><a href="https://www.cloudamqp.com/"><%= image_tag "supporters/cloudamqp-dark.svg", alt: "CloudAMQP" %></a></li>
    <li><a href="https://www.pennylane.com/fr"><%= image_tag "supporters/pennylane.png", alt: "Pennylane" %></a></li>
    <li><a href="https://gobetweenlab.com/"><%= image_tag "supporters/gobetween-dark.png", alt: "Go Between Lab" %></a></li>
    <li><a href="https://serpapi.com/?utm_source=rubygems.org"><%= image_tag "supporters/serpapi.png", alt: "SerpApi" %></a></li>
    <li>3 Anonymous</li>
  </ul>

  <h3>Supporter</h3>
  <ul>
    <li><a href="https://www.coffeeandcode.com/">Coffee and Code</a></li>
  </ul>

  <h2>Corporate Sponsors</h2>
  <p>
    Corporate sponsors support Ruby Central's work more broadly, including RubyGems.org and other community-focused initiatives. Sponsorship opportunities start at $10K/year for companies seeking greater visibility in the Ruby ecosystem. You can learn more about Ruby Central’s Corporate Sponsorship Program <a href="https://rubycentral.org/corporate-sponsorship/">here</a>. 
  </p>
  <h2>Infrastructure Donors</h2>
  <p>
    Our infrastructure donors provide core services that keep RubyGems.org running smoothly and reliably, such as hosting, monitoring, security, and more.
  </p>
  <div class="w-full lg:grow mx-auto grid grid-cols-3 gap-6 justify-items-center md:flex md:items-center md:justify-between">
    <a href="https://aws.amazon.com/" class="p-1"><%= icon_tag "aws", size: 15 %></a>
    <a href="https://dnsimple.link/resolving-rubygems" class="p-1"><%= icon_tag "dnsimple", size: 15 %></a>
    <a href="https://www.datadoghq.com/" class="p-1"><%= icon_tag "datadog", size: 15 %></a>
    <a href="https://www.fastly.com/" class="p-1"><%= icon_tag "fastly", size: 15 %></a>
    <a href="https://www.honeybadger.io/" class="p-1"><%= icon_tag "honeybadger", size: 15 %></a>
    <a href="https://mend.io/" class="col-start-2 p-1"><%= icon_tag "mend-io", size: 15 %></a>
  </div>
<% end %>
