<% @title = "change password" %>
<p>
  Your password has been reset. Choose a new password below.
</p>
<% form_for(:user, :url => user_password_path(@user, :token => @user.token), :html => { :method => :put }) do |form| %>
  <%= error_messages_for :user %>
  <div class="password_field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="password_field">
    <%= form.label :password_confirmation, "Confirm password" %>
    <%= form.password_field :password_confirmation %>
  </div>
  <div class="form_bottom">
    <%= form.submit 'Save this password', :disable_with => 'Please wait...' %>
  </div>
<% end %>
