<li class="gem__version-wrap">
  <%= link_to version.number, rubygem_version_path(version.rubygem, version.slug), :class => 't-list__item' %>
  <%= version_date_tag(version) %>
  <% if version.platformed? %>
    <span class="gem__version__date platform"><%= version.platform %></span>
  <% end %>

  <span class="gem__version__date">(<%= number_to_human_size(version.size) %>)</span>
  <% if version.yanked? -%>
    <span class="gem__version__date"><%= t '.yanked' %></span>
  <% end -%>

  <% vulnerabilities ||= :detailed %>
  <% if version.vulnerabilities.count > 0 %>
      <% if vulnerabilities == :summary %>
        <span class="vulnerability" title="<%= t(:vulnerability, count: version.vulnerabilities.count) %>">
          <%= link_to '', rubygem_version_vulnerabilities_path(version.rubygem.name, version.number), data: { icon: '⚠'} %>
        </span>
      <% else %>
        <span class="vulnerability" title="<%= version.vulnerabilities.pluck(:identifier).join(' / ') %>">
          <%= link_to I18n.t(:vulnerability, count: version.vulnerabilities.count), rubygem_version_vulnerabilities_path(version.rubygem.name, version.number) %>
        </span>
      <% end %>
  <% end %>
</li>
