<li class="gem__version-wrap">
  <%= link_to version.number, rubygem_version_path(version.rubygem, version.slug), :class => 't-list__item' %>
  <small class="gem__version__date">- <%= nice_date_for(version.built_at) %></small>
  <% if version.platformed? %>
    <span class="gem__version__date platform"><%= version.platform %></span>
  <% end %>

  <span class="gem__version__date">(<%= number_to_human_size(version.size) %>)</span>
  <% if version.yanked? -%>
    <span class="gem__version__date"><%= t '.yanked' %></span>
  <% end -%>
</li>
