<% @title = t(".title")%>

<% if @user.webauthn_credentials.any? %>
  <div class="t-body">
    <h2><%= t(".authenticating_as") %> <%= @user.name %></h2>
    <p><%= t("settings.edit.webauthn_credential_note") %></p>
  </div>

  <%= form_tag authenticate_webauthn_verification_path, method: :post, class: "js-webauthn-session--form", data: { options: @webauthn_options.to_json } do %>
    <div class="form_bottom">
      <p hidden class="l-text-red-600 js-webauthn-session--error"></p>

      <%= submit_tag t(".authenticate"), class: 'js-webauthn-session--submit form__submit form__submit--no-hover' %>
    </div>
  <% end %>
<% end %>
