<ol>
  <li>If you suspect your account was compromised:
    <ul>
      <li><%= link_to("Change your password", new_password_url) %></li>
      <li><%= link_to("Reset your API key", profile_api_keys_url) %></li>
      <li><%= link_to("Enable multi-factor authentication", edit_settings_url) %></li>
    </ul>
  </li>
  <%= yield %>
  <li><%= mail_to("support@rubygems.org", "Report this") %> incident to RubyGems.org</li>
</ol>
