<p> <%= t(".hi", user: owner.handle) %> </p>
<p>
  <%= t(".request", user: adoption.user.name, gem: adoption.rubygem.name)%>
  <br />
  <%= t(".note") %>
  <%= adoption.note %>
  <br />
  <%= link_to "#{adoption.rubygem.name} adoptions", rubygem_adoptions_url(adoption.rubygem) %>
</p>
