<p> <%= t(".hi", user: owner.handle) %> </p>
<p>
  <%= t(".request", user: adoption_request.user.name, gem: adoption_request.rubygem.name)%>
  <br />
  <%= t(".note") %>
  <%= adoption_request.note %>
  <br />
  <%= link_to "#{adoption_request.rubygem.name} adoptions", rubygem_adoptions_url(adoption_request.rubygem) %>
</p>
