<% @title = "search" %>
<% if @gems %>
  <% @subtitle = t('.subtitle', :query => content_tag(:em, h(params[:query]))) %>
  <% if @exact_match %>
    <p><%= t '.exact_match' %></p>
    <div class="gems border">
      <ol>
        <%= render @exact_match %>
      </ol>
    </div>
  <% end %>

  <p class="entries">
    <%= page_entries_info(@gems, :entry_name => 'gem').html_safe %>
  </p>
  <% if @gems.present? %>
    <div class="gems border">
      <ol>
        <%= render @gems %>
      </ol>
    </div>
    <%= will_paginate @gems %>
  <% end %>
<% end %>
