<% @title = "search" %>

<% if @fallback %>
  <div class="errorExplanation">
    <h2>Uh oh...</h2>
    <ul><li>Advanced search is currently unavailable, sorry!</li></ul>
  </div>
<% end %>

<% if @gems %>
  <% @subtitle = t('.subtitle', :query => content_tag(:em, h(params[:query]))) %>

  <% if @exact_match %>
    <header class="gems__header">
      <p class="gems__meter"><%= t '.exact_match' %></p>
    </header>
    <%= render @exact_match %>
  <% end %>

  <header class="gems__header push">
    <p class="gems__meter"><%= page_entries_info(@gems, :entry_name => 'gem', :model => 'gem').html_safe %></p>
  </header>

  <% if @gems.present? %>
    <%= render @gems %>
    <%= will_paginate @gems %>
  <% end %>
<% end %>
