<div class="subscribed">
  <h3>Latest Updates</h3><%= link_to image_tag("feed.png"), dashboard_url(:api_key => current_user.api_key, :format => :atom), :id => "feed", :title => "Latest Updates RSS Feed" %>
  <div class="gems">
    <% if @latest_updates.empty? %>
      <p>
        You're not subscribed to any gems yet. Visit a <%= link_to "gem page", rubygem_path("gemcutter") %> to subscribe to one!
      </p>
    <% else %>
      <ol>
        <% @latest_updates.each do |version| %>
        <li>
          <a href="<%= rubygem_url(version.rubygem) %>">
            <div class="top">
              <strong>
                <%= version.to_title %>
                <% if version.platformed? -%>
                  <%= version.platform %>
                <% end -%>
              </strong>
              <%= time_ago_in_words(version.created_at) %> ago</div>
            <%= short_info(version) %>
          </a>
        </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>

<div class="mine">
  <h3>My Gems</h3>
  <div class="gems">
    <% if @my_gems.empty? %>
      <p>
      You haven't pushed any gems yet. Perhaps check out the guides on <%= link_to "creating", page_url("create") %> a gem or <%= link_to "migrating", page_url("migrate") %> a gem from RubyForge.
      </p>
    <% else %>
      <ol>
      <% @my_gems.each do |rubygem| %>
        <li>
          <div class="downloads">
            <strong><%= number_with_delimiter rubygem.downloads %></strong> downloads
          </div>
          <%= link_to rubygem.name, rubygem, :title => short_info(rubygem.versions.most_recent) %>
        </li>
      <% end %>
      </ol>
    <% end %>
  </div>

  <% if @subscribed_gems.present? %>
    <h3>My Subscriptions</h3>
    <div class="gems">
      <ol>
      <% current_user.subscribed_gems.each do |gem| %>
        <li>
          <div class="downloads">
            <strong><%= number_with_delimiter gem.downloads %></strong> downloads
          </div>
          <%= link_to gem, gem, :title => short_info(gem.versions.most_recent) %>
        </li>
      <% end %>
      </ol>
    </div>
  <% end %>
</div>

<div class="clear">
</div>
