<div class="subscribed">
  <h3><%= t '.latest' %></h3><%= link_to image_tag("feed.png"), dashboard_url(:api_key => current_user.api_key, :format => :atom), :id => "feed", :title => t('.latest_title') %>
  <div class="gems">
    <% if @latest_updates.empty? %>
      <p><%= t('.no_subscriptions', :gem_link => link_to(t('.gem_link_text'), rubygem_path("gemcutter"))).html_safe %>
      </p>
    <% else %>
      <ol>
        <% @latest_updates.each do |version| %>
        <li>
          <a href="<%= rubygem_url(version.rubygem) %>">
            <div class="top">
              <strong>
                <%= version.to_title %>
              </strong>
              <%= t 'time_ago', :duration => time_ago_in_words(version.created_at) %>
            </div>
            <%= short_info(version) %>
          </a>
        </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>

<div class="mine">
  <h3><%= t '.mine' %></h3>
  <div class="gems">
    <% if @my_gems.empty? %>
      <p>
        <%= t('.no_owned', :creating_link => link_to(t('.creating_link_text'), page_url("create")),
                           :migrating_link => link_to(t('.migrating_link_text'), page_url("migrate"))).html_safe %>
      </p>
    <% else %>
      <ol>
      <% @my_gems.each do |rubygem| %>
        <li>
          <%= download_count(rubygem) %>
          <%= link_to rubygem.name, rubygem, :title => short_info(rubygem.versions.most_recent) %>
        </li>
      <% end %>
      </ol>
    <% end %>
  </div>

  <% if @subscribed_gems.present? %>
    <h3><%= t '.my_subscriptions' %></h3>
    <div class="gems">
      <ol>
      <% current_user.subscribed_gems.each do |gem| %>
        <li>
          <%= download_count(gem) %>
          <%= link_to gem, gem, :title => short_info(gem.versions.most_recent) %>
        </li>
      <% end %>
      </ol>
    </div>
  <% end %>
</div>

<div class="clear">
</div>
