<%= form_with(model: @organization_onboarding, url: onboarding_users_path, method: :patch) do |form| %>
  <h1>Edit Users</h1>
  <br/>
  <%= form.fields_for :invites, @invites do |invite_fields| %>
    <div data-user-handle="<%= invite_fields.object.user.handle %>">
      <%= invite_fields.text_field :id, value: invite_fields.object.user.id, hidden: true %>
      <p>
        <%= invite_fields.label :handle %>
        <br/>
        <%= invite_fields.text_field :handle, value: invite_fields.object.user.handle, disabled: true %>
      </p>
      <br/>
      <p>
        <%= invite_fields.label :role %>
        <br/>
        <%= invite_fields.select :role, @roles %>
      </p>
    </div>
  <% end %>
  <br/>
  <%= form.submit "Save" %>
<% end %>