<% heading = "text-sm text-neutral-600 dark:text-neutral-400 uppercase tracking-wide" %>
<dl class="space-y-4">
  <div>
    <dt class="<%= heading %>"><%= api_key_permissions.class.human_attribute_name :scopes %></dt>
    <dd class="mt-1"><%= to_sentence api_key_permissions.scopes %></dd>
  </div>
  <div>
    <dt class="<%= heading %>"><%= api_key_permissions.class.human_attribute_name :valid_for %></dt>
    <dd class="mt-1"><%= duration_string api_key_permissions.valid_for %></dd>
  </div>
  <div>
    <dt class="<%= heading %>"><%= api_key_permissions.class.human_attribute_name :gems %></dt>
    <dd class="mt-1">
      <%= to_sentence(
        api_key_permissions.gems.presence&.map { |gem|
          link_to(gem, rubygem_path(gem), class: "text-orange-500 hover:underline dark:text-orange-400")
        } || [t("api_keys.all_gems")]
      ) %>
    </dd>
  </div>
</dl>
