<div class="flex flex-col md:flex-row">
  <!-- Sidebar -->
  <aside class="w-full md:w-64 lg:w-80 md:border-r border-neutral-400 dark:border-neutral-800">
    <!-- Subject Header -->
    <div class="px-5 md:pl-0 py-10 flex-col justify-start items-start gap-4 flex">
      <!-- Subject Toast -->
      <div class="flex bg-yellow-200 px-2 py-1 items-center gap-1 rounded">
        <div class="h-6 w-6">
          <svg class="fill-yellow-600" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.9968 20.702l-2.923.9902c-.1038.0334-.2026.0568-.2963.0703-.0935.0135-.1871.0202-.2807.0202-.482 0-.9037-.1699-1.2652-.5097-.3617-.3397-.5425-.7723-.5425-1.298V14.9097L3.9353 10.4538c-.0937-.1539-.1622-.3103-.2057-.4693-.0437-.1588-.0655-.3203-.0655-.4845s.0218-.3257.0655-.4845c.0435-.159.1121-.3154.2057-.4692L7.1431 3.354c.164-.2745.3816-.4854.6528-.6328.2712-.1475.5658-.2212.8838-.2212h6.6345c.318 0 .6125.0737.8837.2212.2712.1473.4888.3582.6528.6328l3.2077 5.1923c.0937.1538.1623.3102.2058.4692.0436.1588.0655.3203.0655.4845s-.0219.3257-.0655.4845c-.0435.159-.1121.3154-.2058.4693l-2.7537 4.4559V19.975c0 .5257-.1809.9583-.5425 1.298-.3615.3398-.7833.5097-1.2653.5097-.0937 0-.1872-.0067-.2807-.0202-.0937-.0135-.1925-.0369-.2963-.0703l-2.923-.9902Zm0-1.5905 3.4038 1.1327c.1026.032.1956.0192.279-.0385.0833-.0576.125-.141.125-.25V16.5H8.1891v3.4557c0 .109.0417.1924.125.25.0833.0577.1763.0705.279.0385l3.4037-1.1327ZM8.6796 15h6.6345c.0513 0 .0994-.0128.1442-.0385.0448-.0257.0833-.0609.1155-.1058l3.2173-5.1922c.032-.0513.048-.1058.048-.1635s-.016-.1122-.048-.1635L15.5738 4.1443c-.0322-.0448-.0707-.0801-.1155-.1058C15.4135 4.0128 15.3654 4 15.3141 4H8.6796c-.0513 0-.0994.0128-.1442.0385-.0448.0257-.0833.0609-.1155.1058L5.2026 9.3365c-.032.0513-.048.1058-.048.1635s.016.1122.048.1635l3.2172 5.1922c.0322.0449.0707.0801.1155.1058.0448.0257.0929.0385.1442.0385Zm2.2672-3.8943L14.6546 7.373c.1385-.1487.3099-.2204.5142-.2153.2045.0052.3812.0769.53.2153.155.1488.2335.3271.2355.5347.0018.2077-.0716.3858-.2202.5345l-4.1345 4.1442c-.1809.1808-.3918.2712-.6328.2712s-.4519-.0904-.6327-.2712L8.2948 10.577c-.155-.1488-.2325-.3255-.2325-.53 0-.2043.0775-.3841.2325-.5393.1552-.1552.3334-.2327.5348-.2327.2012 0 .3793.0776.5345.2327l1.5827 1.598Z"/>
          </svg>
        </div>
        <div class="relative justify-start items-center flex font-semibold leading-relaxed tracking-wide text-xs text-yellow-700">
          ORGANIZATION
        </div>
      </div>
      <!-- Subject -->
      <h1 class="text-h3 leading-6 text-neutral-900 dark:text-neutral-100 tracking-wide">14 Letter Team</h1>
    </div>

    <nav class="hidden md:block px-5 md:pl-0 py-6 md:pr-6 border-t border-neutral-400 dark:border-neutral-800 text-b2">
      <ul>
        <li>
          <a href="#" class="flex gap-2 items-center px-6 py-3 text-neutral-950 dark:text-neutral-050 font-bold bg-orange-100 rounded">
            <svg class="fill-orange-500" width="20" height="20" viewbox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path d="m2 18c-.55 0-1.0208-.1958-1.4125-.5875S0 16.55 0 16V2C0 1.45.1958.9792.5875.5875S1.45 0 2 0h14c.55 0 1.0208.1958 1.4125.5875S18 1.45 18 2v14c0 .55-.1958 1.0208-.5875 1.4125S16.55 18 16 18H2zm0-2h6V2H2v14zm8 0h6V9h-6v7zm0-9h6V2h-6v5z"/>
            </svg>
            <span class="font-semibold">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex gap-2 items-center px-6 py-3 text-neutral-700 dark:text-neutral-300 hover:bg-neutral-100 dark:hover:bg-neutral-700 rounded">
            <svg class="fill-current" width="21" height="21" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.98265 19.9166C7.63745 19.9166 5.57041 19.2008 3.78153 17.7693C1.99264 16.338 0.846095 14.5066 0.3419 12.2749C0.279095 12.0431 0.316914 11.83 0.455359 11.6356C0.593609 11.4411 0.789511 11.3282 1.04307 11.2967C1.28165 11.2654 1.49554 11.3125 1.68473 11.4381C1.87393 11.5637 2.00596 11.7485 2.08082 11.9923C2.52493 13.7946 3.48179 15.2742 4.9514 16.4312C6.42101 17.5881 8.09809 18.1666 9.98265 18.1666C12.2576 18.1666 14.1875 17.3742 15.7722 15.7895C17.357 14.2048 18.1493 12.2749 18.1493 9.99992C18.1493 7.72492 17.357 5.79506 15.7722 4.21034C14.1875 2.62561 12.2576 1.83325 9.98265 1.83325C8.70826 1.83325 7.51398 2.11636 6.39982 2.68259C5.28546 3.24861 4.32587 4.02746 3.52107 5.01913H5.69748C5.9454 5.01913 6.15316 5.10303 6.32078 5.27084C6.48858 5.43864 6.57248 5.6465 6.57248 5.89442C6.57248 6.14253 6.48858 6.35029 6.32078 6.51771C6.15316 6.68532 5.9454 6.76913 5.69748 6.76913H1.70398C1.40512 6.76913 1.15468 6.66802 0.95265 6.46579C0.750428 6.26377 0.649317 6.01332 0.649317 5.71446V1.72096C0.649317 1.47304 0.73322 1.26528 0.901025 1.09767C1.06883 0.929864 1.27679 0.845961 1.5249 0.845961C1.77282 0.845961 1.98058 0.929864 2.14819 1.09767C2.31561 1.26528 2.39932 1.47304 2.39932 1.72096V3.61009C3.34607 2.49281 4.47987 1.62568 5.80073 1.00871C7.1214 0.391738 8.51537 0.083252 9.98265 0.083252C11.3593 0.083252 12.6488 0.343516 13.851 0.864044C15.0533 1.38457 16.1016 2.09206 16.9961 2.9865C17.8905 3.88095 18.598 4.9292 19.1185 6.13125C19.6391 7.3335 19.8993 8.62286 19.8993 9.99934C19.8993 11.3758 19.6391 12.6653 19.1185 13.8677C18.598 15.0703 17.8905 16.1189 16.9961 17.0133C16.1016 17.9078 15.0533 18.6153 13.851 19.1358C12.6488 19.6563 11.3593 19.9166 9.98265 19.9166ZM10.8912 9.64554L14.0995 12.8539C14.2611 13.0153 14.3437 13.2183 14.3474 13.4629C14.3513 13.7075 14.2687 13.9143 14.0995 14.0833C13.9306 14.2522 13.7257 14.3367 13.485 14.3367C13.2441 14.3367 13.0391 14.2522 12.8701 14.0833L9.45765 10.6708C9.34857 10.5615 9.26855 10.4425 9.21761 10.3138C9.16686 10.185 9.14148 10.052 9.14148 9.91475V5.04159C9.14148 4.79367 9.22529 4.58581 9.3929 4.418C9.56071 4.25039 9.76866 4.16659 10.0168 4.16659C10.2647 4.16659 10.4725 4.25039 10.6401 4.418C10.8075 4.58581 10.8912 4.79367 10.8912 5.04159V9.64554Z"/>
            </svg>
            <span>History</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex gap-2 items-center px-6 py-3 text-neutral-700 dark:text-neutral-300 hover:bg-neutral-100 dark:hover:bg-neutral-700 rounded">
            <svg class="fill-current" width="21" height="21" viewbox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.2331 21H18.7669c.624 0 1.1522-.2162 1.5846-.6485.4323-.4324.6485-.9606.6485-1.5846V2.2331c0-.624-.2162-1.1522-.6485-1.5846C19.9191.2162 19.3909 0 18.7669 0H2.2331C1.6091 0 1.0809.2162.6485.6486.2162 1.0809-0 1.6091-0 2.2331V18.7669c0 .624.2162 1.1522.6485 1.5846.4323.4323.9605.6485 1.5846.6485ZM10.5 11.7829c-1.1149 0-2.0627-.3904-2.8436-1.1711-.7808-.7809-1.1711-1.7288-1.1711-2.8436 0-1.1149.3903-2.0628 1.1711-2.8437.7809-.7807 1.7287-1.1711 2.8436-1.1711s2.0627.3903 2.8436 1.1711c.7808.7809 1.1711 1.7288 1.1711 2.8437 0 1.1148-.3903 2.0627-1.1711 2.8436-.7809.7807-1.7287 1.1711-2.8436 1.1711ZM1.8529 17.964V2.2331c0-.0951.0396-.1822.1189-.2613.0791-.0793.1662-.1189.2613-.1189H18.7669c.0951 0 .1822.0396.2613.1189.0792.0791.1189.1662.1189.2613V17.964c-1.1118-1.0912-2.4037-1.9508-3.8758-2.5787-1.472-.6279-3.0625-.9419-4.7713-.9419s-3.2993.314-4.7713.9419c-1.4721.6279-2.764 1.4875-3.8757 2.5787Z"/>
            </svg>
            <span>Members</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex gap-2 items-center px-6 py-3 text-neutral-700 dark:text-neutral-300 hover:bg-neutral-100 dark:hover:bg-neutral-700 rounded">
            <svg class="fill-current" width="21" height="24" viewbox="0 0 21 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.5 6.58358L10.6759 0.750244L20.8519 6.58358V18.2502L10.6759 24.0836L0.5 18.2502V6.58358ZM10.6759 21.8799L18.9074 17.1354V7.67247L10.6759 2.92802L2.44444 7.67247V17.1354L10.6759 21.8799ZM6.59653 8.42532L6.60949 8.43828L6.59653 8.41235H14.815V8.42532L17.6928 11.3031L13.5836 15.4124L10.7058 18.2772L3.71875 11.3031L6.59653 8.42532Z"/>
            </svg>
            <span>Gems</span>
          </a>
        </li>
        <li>
          <a href="<%= edit_organization_path(@organization) %>" class="flex gap-2 items-center px-6 py-3 text-neutral-700 dark:text-neutral-300 hover:bg-neutral-100 dark:hover:bg-neutral-700 rounded">
            <svg class="fill-current" width="21" height="21" viewbox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5 13.7157c-.9243 0-1.704-.3205-2.3391-.9612-.6351-.6408-.9527-1.4177-.9527-2.3306s.3176-1.6898.9527-2.3305c.6352-.6408 1.4148-.9612 2.3391-.9612.9129 0 1.6898.3204 2.3305.9612.6408.6407.9612 1.4176.9612 2.3305s-.3204 1.6898-.9612 2.3306c-.6407.6407-1.4176.9612-2.3305.9612ZM9.39 19.2019l-.3565-2.9288c-.5739-.1464-1.0979-.3559-1.5721-.6288-.4741-.273-.9193-.6233-1.3357-1.0509L3.4101 15.7456 2.3299 13.8802 4.689 12.0869c-.0846-.2674-.145-.5383-.1816-.8126s-.0549-.5542-.0549-.8399c0-.3109.0183-.607.0549-.8883.0366-.2811.1006-.552.192-.8125L2.3299 6.9676 3.4101 5.1022l2.726 1.1352c.4306-.4303.8829-.782 1.3571-1.055.474-.2729.991-.4753 1.5507-.6076l.3632-2.9287h2.1774l.3461 2.9393c.5247.1253 1.0435.3384 1.5563.6394.5125.301.9524.6478 1.3197 1.0402l2.7579-1.1626 1.0803 1.8654-2.4011 1.8145c.0915.2772.1538.5488.1867.8147.033.2656.0496.5414.0496.827 0 .2785-.0167.5542-.0496.8271-.033.273-.0953.5516-.1867.8359l2.3803 1.7934-1.0806 1.8653-2.726-1.1458c-.4306.4233-.8776.7697-1.3412 1.0393-.4634.2693-.9751.4772-1.5351.6235l-.3944 2.9392H9.3901ZM9.2719 20.848h2.4312c.3741 0 .6974-.1242.9694-.3726.2724-.2481.438-.5537.4971-.9167l.268-2.0637c.2968-.1055.5866-.2417.8693-.4085.2828-.1666.5599-.3581.8314-.5749l1.878.8081c.3448.152.6929.1667 1.0446.0443.3516-.1223.6238-.3446.8163-.6668l1.243-2.1334c.1926-.322.2466-.6628.1616-1.0223-.0854-.3594-.2743-.6558-.5668-.8894l-1.6542-1.2448c.0436-.1985.0688-.3746.0757-.5285.0072-.1543.0107-.3058.0107-.4549 0-.1562-.0017-.3113-.0051-.4653-.0037-.1541-.0253-.3198-.0646-.497l1.686-1.2659c.2926-.2336.4796-.53.5613-.8894.0818-.3594.0263-.7002-.1665-1.0223L18.9322 4.1611c-.1927-.315-.463-.5355-.8112-.6613-.3482-.1259-.6946-.113-1.0391.0389l-1.9436.7977c-.2715-.2167-.5407-.4049-.8073-.5645-.2664-.1596-.5642-.2992-.8934-.4188l-.268-2.0637c-.0591-.363-.2248-.6686-.4971-.9168C12.4004.1243 12.0772 0 11.7031 0H9.2721c-.3742 0-.6974.1243-.9694.3726-.2724.2482-.438.5538-.4971.9168L7.5271 3.3426c-.2898.1055-.5849.2451-.8852.4188s-.5828.3654-.8473.5749L3.904 3.5386c-.3447-.1519-.6911-.1648-1.0391-.0389-.3483.1258-.6188.3462-.8115.6613L.8275 6.2734c-.1928.3221-.2501.6647-.172 1.0275.078.3629.2634.6613.556.8949L2.8552 9.4301c-.0253.1913-.0432.3675-.0538.5285-.0107.1611-.0159.3197-.0159.4757 0 .1634.0053.3272.0159.4919.0106.1646.0284.3285.0538.4916L1.2116 12.6521c-.2927.2336-.4797.53-.5613.8894-.0818.3595-.0263.7003.1665 1.0223l1.2365 2.1441c.1928.322.4632.5442.8115.6665.348.1225.6944.1079 1.0391-.0441l1.9012-.8081c.2434.2024.5195.3923.8282.5697.3088.1772.6102.3149.9041.4134l.268 2.0532c.0591.363.2247.6686.4971.9167.2721.2484.5952.3726.9694.3726Z"/>
            </svg>
            <span>Settings</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 mx-5 md:mx-10 lg:mx-20 py-12 border-t border-neutral-400 dark:border-neutral-700 md:border-none">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <!-- Dashboard Header -->
    <div class="mb-12">
      <h1 class="text-h2 text-neutral-900 dark:text-neutral-100 tracking-wide">Dashboard</h1>
    </div>

    <!-- Dashboard Content -->
    <div class="items-center space-y-11">
      <% organization_history_path = "/orgs/history" %>
      <%= render CardComponent.new do |c| %>
        <%= c.head("History", icon: :history, url: organization_history_path) %>
        <%= c.with_content do %>
          <ul class="">
            <li class="flex justify-between py-4 border-b dark:border-neutral-800">
              <span>Example-Gem-2</span>
              <span class="text-green-600">1.16.4</span>
            </li>
            <li class="flex justify-between py-4 border-b dark:border-neutral-800">
              <span>BillyJoel was added as an admin</span>
              <span class="text-neutral-500">2 weeks ago</span>
            </li>
            <li class="flex justify-between py-4 border-b dark:border-neutral-800">
              <span>Example event</span>
              <span class="text-neutral-500">X time ago</span>
            </li>
            <li class="flex justify-between py-4 border-b dark:border-neutral-800">
              <span>Example event</span>
              <span class="text-neutral-500">X time ago</span>
            </li>
          </ul>
        <% end %>
      <% end %>

      <% members = User.all %>
      <%= render CardComponent.new do |c| %>
        <%= c.head("Members", icon: :members, url: "/orgs/members") %>
        <%= c.with_list(members) do |user| %>
          <div class="flex items-center space-x-2">
            <img src="/users/1/avatar.jpeg?size=40&theme=dark" alt="Avatar" class="h-7 w-7 rounded object-cover">
            <span class="font-medium text-neutral-700 dark:text-neutral-300"><%= user.handle %></span>
          </div>
          <span class="text-sm text-neutral-500"><%= user.name %></span>
        <% end %>
      <% end %>

      <!-- Gems Card -->
      <% rubygems = Rubygem.limit(4) %>
      <%= render CardComponent.new do |c| %>
        <%= c.head("Gems", icon: :gems, url: "/orgs/gems") %>
        <%= c.with_list(rubygems) do |rubygem| %>
          <a href="#" class="text-blue-500"><%= rubygem.name %></a>
        <% end %>
      <% end %>
    </div>
  </main>
</div>
