<%= field_wrapper **field_wrapper_args, stacked: true, class: "nested-form-wrapper", data: {} do %>
  <%= content_tag :div, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do %>
    <template data-nested-form-target="template">
      <%= render field.template_member.component_for_view(view).new(field: field.template_member, form:, view:) %>
    </template>

    <% @field.values.each do |v| %>
      <%= render @field.member.hydrate(view:, model: v, resource:).component_for_view(view).new(field: @field.member, form:, view:) %>
    <% end %>

    <div data-nested-form-target="target"></div>
    <!-- Inserted elements will be injected before that target. -->

    <%= a_link 'javascript:void(0);', icon: 'plus', color: :primary, style: :outline, data: {action: "click->nested-form#add"} do %>
      Add another <%= @field.name.singularize %>
    <% end %>
  <% end %>
<% end %>
