<% callback_csrf_token = form_authenticity_token(form_options: { action: callback_webauthn_credentials_path, method: "post" }) %>
<%= form_for webauthn_credential, html: { class: "js-new-webauthn-credential--form mt-6", data: { callback_csrf_token: callback_csrf_token } } do |f| %>
  <h4 class="text-b3 font-semibold text-neutral-900 dark:text-white"><%= t('.new_device') %></h4>
  <div class="mt-4">
    <%= f.label :nickname, t('.nickname'), class: 'block text-b4 font-semibold text-neutral-800 dark:text-neutral-200 mb-2' %>
    <%= f.text_field :nickname,
          class: 'js-new-webauthn-credential--nickname block w-full rounded border border-neutral-300 dark:border-neutral-700 ' \
                 'bg-white dark:bg-neutral-900 text-neutral-900 dark:text-white px-3 h-12 outline-none focus:border-neutral-500 focus:ring-0',
          required: true, pattern: '.*\S+.*' %>
  </div>

  <p hidden class="js-new-webauthn-credential--error mt-2 text-b3 text-red-600 dark:text-red-400"></p>

  <%= f.submit t('.submit'),
        class: 'js-new-webauthn-credential--submit mt-4 inline-flex items-center justify-center rounded ' \
               'text-white bg-orange-500 px-4 h-12 min-h-12 text-b2 cursor-pointer ' \
               'hover:bg-orange-600 active:bg-orange-600 dark:bg-orange-500 dark:hover:bg-orange-700 dark:active:bg-orange-700 ' \
               'transition focus:outline-none' %>
<% end %>
