<title><%= page_title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="<%= image_path "touch-icon-iphone.png" %>" />
<link rel="apple-touch-icon" sizes="72x72" href="<%= image_path "touch-icon-ipad.png" %>" />
<link rel="apple-touch-icon" sizes="114x114" href="<%= image_path "touch-icon-iphone4.png" %>" />
<link rel="fluid-icon" href="<%= image_path "fluid-icon.png" %>"/>
<link rel="search" type="application/opensearchdescription+xml" title="<%=t :title %>" href="/opensearch.xml">
<%= csrf_meta_tag %>
