<ul class="minor">
  <li><%= link_to t('.footer.mobile'), "http://m.rubygems.org" %></li>
  <li><%= link_to t('.footer.status'), "http://twitter.com/gemcutter" %></li>
  <li><%= link_to t('.footer.source_code'), "http://github.com/rubygems/rubygems.org" %></li>
  <li><%= link_to t('.footer.discussion_forum'), "http://groups.google.com/group/gemcutter" %></li>
  <li><%= link_to t('.footer.statistics'), stats_url %></li>
  <li><%= link_to t('.footer.about'), page_url("about") %></li>
</ul>
