!!!
%html
  %head
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %title= "gemcutter: kickass gem hosting"
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/reset.css"}
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/960.css"}
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/text.css"}
    %link{:rel => "stylesheet", :type => "text/css", :media => "all", :href => "/css/style.css"}
  %body
    .container_12
      .wrap
        .header.grid_12
          %h1
            %a{:href => ""}= @title || title
          %h2= @subtitle || subtitle
          .buttons
            %span.actions
              %a{:href => "/"} home
              %a{:href => "/gems"} list
              %a{:href => "/create"} create
              %a{:href => "/migrate"} migrate 
              %a{:href => "/search"} search
            %span.account
              %a{:href => "/login"} login
              %a{:href => "/register"} register
        =yield
        .footer.grid_12
          .links
            %a.footer{:href => "http://twitter.com/rubygemcutter"} Status
            %a.footer{:href => "/api"} API
            %a.footer{:href => "/help"} Help
            %a.footer{:href => "/contribute"} Contribute
          -if @title
            .watermark
              %a{:href => "/"}= title
              %abbr= subtitle

