<% @title = "Stats" %>

<div class="stats">
  <h2 class="stat" data-icon="⟡">
    <%= t('stats.index.total_gems') %>
    <span class="stat__count"><%= number_with_delimiter @number_of_gems %></span>
  </h2>
  <h2 class="stat" data-icon="☺">
    <%= t('stats.index.total_users') %>
    <span class="stat__count"><%= number_with_delimiter @number_of_users %></span>
  </h2>
  <h2 class="stat" data-icon="⌄">
    <%= t('stats.index.total_downloads') %>
    <span class="stat__count"><%= number_with_delimiter @number_of_downloads %></span>
  </h2>
</div>

<div class="stats">
  <h2 class="stats__graph__heading">
    <%= t('stats.index.all_time_most_downloaded') %>
  </h2>

  <% @most_downloaded.each do |gem| %>
    <div class="stats__graph__gem">
      <h3 class="stats__graph__gem__name"><%= link_to gem.name, rubygem_path(gem) %></h3>
      <div class="stats__graph__gem__meter-wrap">
        <div class="stats__graph__gem__meter" style="width: <%= stats_graph_meter(gem, @most_downloaded_count) %>%">
          <span class="stats__graph__gem__count"><%= number_to_delimited gem.downloads %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="stats">
  <h2 class="stats__graph__heading">
    <%= t('stats.index.recent_uploads') %>
  </h2>

    <table class="stats__table">
      <% @recent_uploads.each do |version| %>
        <tr class="stats__table__row">
          <th class="stats__table__column">
            <%= link_to version.rubygem.name, rubygem_path(version.rubygem) %>
          </th>
          <td class="stats__table__column">
            <%= link_to version.number, rubygem_version_path(version.rubygem, version.slug) %>
          </td>
          <td></td>
        </tr>
      <% end %>
    </table>
</div>
