<% @title, @title_url = @rubygem.name, rubygem_path(@rubygem) %>

<% if @rubygem.versions.size > 1 %>
  <%= select_tag :version_for_stats, options_for_select(stats_options(@rubygem), request.path) %>
<% end %>

<div id="markup">
  <%= simple_markup(@version.info) %>
</div>

<div class="statistics statistics-show clearfix">
  <div class="border">
    <%= t('.total_downloads', :count => content_tag(:span, number_with_delimiter(@downloads_total))).html_safe %>
  </div>

  <div class="border">
    <%= t('.daily_downloads', :count => content_tag(:span, number_with_delimiter(@downloads_today))).html_safe %>
  </div>

  <div class="border">
    <span><%= number_with_delimiter @rank %> / <%= number_with_delimiter @cardinality %></span>
    <% if params[:version_id] %>
      <%= t '.current_rank' %>
    <% else %>
      <%= t '.highest_rank' %>
    <% end %>
  </div>
</div>
<div class="border">
  <div class="meta">
    <div class="stats-graph">
      <%= downloads_over_time_chart(@versions) %>
    </div>
  </div>
</div>
