<% content_for :title do %>
  <h1 class="t-display page__heading page__heading--small">
    <%= t('.title') %>
    <i class="page__subheading page__subheading--block"><%= t(".subtitle_html") %></i>
  </h1>
<% end %>

<header class="gems__header">
  <p class="gems__meter">
    <%= page_entries_info @ownership_calls, entry_name: 'ownership calls' %>
  </p>
</header>

<div class="t-list__items">
  <%= render partial: "apply", layout: "ownership_call", collection: @ownership_calls, as: :ownership_call %>
</div>

<%= paginate @ownership_calls %>
