<% if signed_in? %>
  <% i18n_scope = %i[layouts application header] %>
  <a href="<%= profile_path(current_user.display_id) %>" class="header__nav-link desktop__header__nav-link">
    <span><%= current_user.name %></span>
    <%= gravatar 80, "user_gravatar" %>
  </a>
  <a href="#" class="header__popup-link" data-icon="▼">
    <span class="t-hidden">More items</span>
  </a>
  <div class="header__popup__nav-links">
    <%= link_to t('settings', scope: i18n_scope), edit_settings_path, class: "header__nav-link" %>
    <%= link_to t('dashboard', scope: i18n_scope), dashboard_path, class: "header__nav-link" %>
    <%= link_to t('edit_profile', scope: i18n_scope), edit_profile_path, class: "header__nav-link" %>
    <%= link_to t('sign_out', scope: i18n_scope), sign_out_path, method: :delete, class: "header__nav-link" %>
  </div>
<% end %>