<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'metadata' %>
    <%= render partial: 'feeds' %>
    <%= stylesheet_link_tag :application %>
    <!--[if IE 7]>
      <%= stylesheet_link_tag :ie7 %>
    <![endif]-->
  </head>
  <body>
    <div class="container_12">
      <div class="prefix_1 grid_4 header">
        <h1><%= link_to t(:title), root_url, :title => "Home" %></h1>
      </div>
      <div class="grid_6 suffix_1 nav">
        <%= render partial: 'navigation' %>
      </div>
      <div class="prefix_1 grid_10 suffix_1 main">
        <% flash.each do |name, msg| %>
          <div id="flash-border">
            <div id="flash_<%= name %>"><span><%= msg %></span></div>
          </div>
        <% end %>
        <%= render partial: "announcements/announcement_for_all" %>
        <% if content_for?(:fold) %>
          <div class="fold">
            <%= yield :fold %>
          </div>
        <% end %>
        <div class="info clearfix">
          <%= render partial: 'info_title' %>
          <%= yield %>
        </div>
      </div>
      <div class="prefix_1 grid_10 suffix_1 footer">
        <%= render partial: 'major' %>
        <%= render partial: 'minor' %>
        <%= render partial: 'sponsors' %>
      </div>
    </div>
    <%= javascript_include_tag :application %>
    <%= yield :javascript %>
    <%= render partial: 'analytics' %>
  </body>
</html>
