<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="fluid-icon" href="/apple-touch-icon.png"/>
    <link rel="search" type="application/opensearchdescription+xml" title="<%=t :title %>" href="/opensearch.xml">
    <%= stylesheet_link_tag "reset", "960", "screen", :cache => true %>
    <!--[if IE 7]>
      <%= stylesheet_link_tag "ie7" %>
    <![endif]-->
    <%= render "layouts/feeds" %>
    <%= csrf_meta_tag %>
    <title><%= page_title %></title>
  </head>
  <body>
    <div class="container_12">
      <div class="prefix_1 grid_4 header">
        <h1><%= link_to t(:title), root_url, :title => "Home" %></h1>
      </div>
      <div class="grid_6 suffix_1 nav">
        <div id="nav-cap">
          <div id="nav">
            <% if signed_in? %>
                <div id="user-info">
                  <a href="<%= profile_path(current_user) %>">
                    <%= gravatar(32, "user_gravatar") %>
                    <span><%= truncate(current_user.name) %></span>
                  </a>
                </div>
                <ul id="signed_in">
                  <li id="all-gems"><%= link_to "all gems", rubygems_url %></li>
                  <li id="dashboard"><%= link_to "dashboard", dashboard_url %></li>
                  <li id="sign-out"><%= link_to "sign out", sign_out_path, :method => :delete %></li>
                </ul>
            <% else %>
              <ul id="signed_out">
                <li id="all-gems"><%= link_to "all gems", rubygems_url %></li>

                <li id="sign-in">
                  <a href="<%= ssl_url_for :controller => 'clearance/sessions',
                                           :action     => 'new' %>">sign in</a>
                </li>

                <li id="sign-up">
                  <a href="<%= ssl_url_for :controller => 'clearance/users',
                                           :action     => 'new' %>">sign up</a>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
        <%= form_tag search_url, :id => "main-search", :method => :get do %>
          <%= text_field_tag :query, params[:query] ? params[:query] : "Search gems&hellip;".html_safe %>
          <%= submit_tag 'Search', :id => 'search_submit', :name => nil %>
        <% end %>
      </div>
      <div class="prefix_1 grid_10 suffix_1 main">
        <% flash.each do |name, msg| %>
          <div id="flash-border">
            <div id="flash_<%= name %>"><span><%= msg %></span></div>
          </div>
        <% end %>
        <%= render :partial => "announcements/announcement_for_all" %>
        <% if content_for?(:fold) %>
          <div class="fold">
            <%= yield :fold %>
          </div>
        <% end %>
        <div class="info clearfix">
          <div class="title">
            <% if @title %>
              <h2><%= link_to @title, @title_url %></h2>
            <% end %>
            <% if @subtitle %>
              <h3><%= @subtitle.html_safe %></h3>
            <% end %>
            <%= yield :title %>
          </div>
          <%= yield %>
        </div>
      </div>
      <div class="prefix_1 grid_10 suffix_1 footer">
        <div class="links">
          <%= link_to "About", page_url("about") %>
          <%= link_to "Blog", "http://update.gemcutter.org" %>
          <%= link_to "Docs", page_url("docs") %>
          <%= link_to "Help", t(:help_url) %>
          <%= link_to "Status", "http://twitter.com/gemcutter" %>
          <%= link_to "Code", "http://github.com/rubygems/gemcutter" %>
          <%= link_to "Discuss", "http://groups.google.com/group/gemcutter" %>
          <%= link_to "Stats", stats_url %>
          <%= link_to "designed by #{image_tag('thoughtbot.png')}".html_safe, "http://thoughtbot.com",
            :class => "sponsor",
            :title => "Designed by Thoughtbot",
            :id    => "thoughtbot" %>
          <%= link_to "resolved with #{image_tag('dnsimple.png')}".html_safe, "http://dnsimple.com",
            :title => "Resolved with DNSimple",
            :class => "sponsor",
            :id    => "dnsimple" %>
          <%= link_to "supported by #{image_tag('rubycentral.png')}".html_safe, "http://rubycentral.org",
            :title => "Supported by Ruby Central",
            :class => "sponsor",
            :id    => "rubycentral" %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "jquery", "jquery.easing.1.3", "jquery.color", "announcements", "application", "rails", :cache => true %>
    <%= yield :javascript %>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-10315684-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>
