!!!
%html
  %head
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %title= page_title
    =stylesheet_link_tag("reset", "960", "text", "application")
  %body
    -flash.each do |name, msg|
      %div{:id => "flash_#{name}"}= msg
    .container_12
      .wrap
        .header.grid_12
          %h1
            %a{:href => ""}= @title || title
          %h2= @subtitle || subtitle
          .buttons
            %span.actions
              =link_to "home", root_url
              =link_to "list", rubygems_url
              =link_to "search", search_url
              =link_to "create", "http://wiki.github.com/qrush/gemcutter/create"
              =link_to "migrate", "http://wiki.github.com/qrush/gemcutter/migrate"
            %span.account
              -if signed_in?
                =link_to "my gems", mine_rubygems_url
                =link_to "logout", sign_out_path
              -else
                =link_to "login", sign_in_path
                =link_to "register", sign_up_path
        =yield
        .footer.grid_12
          .info
            %a.footer{:href => "http://twitter.com/rubygemcutter"} Status
            %a.footer{:href => "http://wiki.github.com/qrush/gemcutter/api"} API
            %a.footer{:href => "http://wiki.github.com/qrush/gemcutter/help"} Help
            %a.footer{:href => "http://github.com/qrush/gemcutter"} Contribute
          -if @title
            .watermark
              %a{:href => "/"}= title
              %abbr= subtitle
    =javascript_include_tag("jquery", "application")
